---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Masaje de Relajación 60 min- Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Masaje de Relajación"
    duration="60 min"
    price="$26.900"
  >
    <h2>¿Qué son los Masaje de Relajación?</h2>
    <p>
      Es una técnica terapéutica enfocada en aliviar el estrés y promover un
      estado de relajación profunda en el cuerpo y la mente. Se basa en
      movimientos suaves y constantes que ayudan a liberar tensiones musculares,
      mejorar la circulación y promover una sensación general de bienestar.
    </p>
    <h2>Proceso del Masaje de Relajación</h2>
    <ol>
      <li class="process-title">
        Consulta
        <ul>
          <li>
            <strong>Entrevista Inicial:</strong> Antes de comenzar, el terapeuta
            puede hacer preguntas sobre el historial médico del cliente, áreas problemáticas
            y preferencias de presión.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Ambiente
        <ul>
          <li>
            <strong>Entorno Adecuado:</strong> Se prepara un ambiente relajante con
            iluminación tenue, música suave y aromas agradables, como aceites esenciales
            o velas aromáticas.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Posición del Cliente
        <ul>
          <li>
            <strong>Comodidad:</strong> El cliente se acurruca en una mesa de masaje,
            en una posición cómoda, con toallas o sábanas para cubrir y proteger
            las áreas no tratadas.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Técnicas de Masaje</h2>
    <ol>
      <li class="process-title">
        Amasamiento
        <ul>
          <li>
            <strong>Técnica:</strong> Se aplica presión con las manos para amasar
            los músculos, lo que ayuda a liberar tensiones y mejorar la circulación.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Effleurage
        <ul>
          <li>
            <strong>Deslizamientos Suaves:</strong> Se utilizan movimientos suaves
            y deslizantes con las palmas para calentar y relajar los músculos.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Fricción
        <ul>
          <li>
            <strong>Movimientos Circulares:</strong> Se realizan movimientos circulares
            con las yemas de los dedos para trabajar áreas específicas de tensión.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Petrissage
        <ul>
          <li>
            <strong>Presión y Amasamiento:</strong> Se aplica presión con los pulgares
            o las palmas para amasar y levantar los músculos, favoreciendo la circulación
            y el alivio de tensiones.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Percusión
        <ul>
          <li>
            <strong>Golpeteo Ligero:</strong> Se realizan movimientos de golpeteo
            ligero con las manos o los dedos para estimular los músculos y la circulación.
          </li>
        </ul>
      </li>
    </ol>

    <p>
      El masaje de relajación es una excelente manera de cuidar tanto tu salud
      física como mental. Ofrece una oportunidad para desconectar del estrés
      diario, aliviar tensiones y disfrutar de una sensación de bienestar
      profundo.
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
