---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Masaje Descontracturante - Deluxe Beauty",
  description:
    "Alivia las tensiones musculares con nuestro Masaje Descontracturante. Diseñado para tratar áreas específicas de tensión y rigidez, este tratamiento profesional ayuda a liberar contracturas y mejorar tu bienestar general.",
};
---

<Layout options={options}>
  <Service
    img="/images/masajes/masaje-descontracturante.avif"
    title="Masaje Descontracturante"
    duration="60 min"
    price="$30.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20masaje%20descontracturante."
  >
    <h2>¿Qué son los Masajes Descontracturantes?</h2>
    <p>
      Es una técnica de masaje terapéutico que se enfoca en aliviar las
      contracturas musculares y las tensiones acumuladas en el cuerpo. Es
      especialmente útil para tratar zonas con rigidez y dolor crónico, y se
      basa en una aplicación más profunda de presión en los músculos y tejidos
      conectivos. Este tipo de masaje es ideal para quienes sufren de dolor
      muscular persistente, estrés elevado o posturas incorrectas.
    </p>
    <h2>Proceso del Masaje Descontracturante</h2>
    <ol>
      <li class="process-title">
        Consulta
        <ul>
          <li>
            <strong>Entrevista Inicial:</strong> El terapeuta puede realizar una
            evaluación para entender el historial médico del cliente, identificar
            áreas problemáticas y ajustar la presión según las necesidades individuales.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Ambiente
        <ul>
          <li>
            <strong>Entorno Adecuado:</strong> Se prepara un ambiente cómodo y tranquilo
            con iluminación suave, música relajante y una temperatura agradable.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Posición del Cliente
        <ul>
          <li>
            <strong>Comodidad:</strong> El cliente se acomoda en una mesa de masaje,
            en una posición que permita acceder cómodamente a las áreas de tensión.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Técnicas de Masaje Descontracturante</h2>
    <ol>
      <li class="process-title">
        Amasamiento
        <ul>
          <li>
            <strong>Presión Profunda:</strong> Se aplica presión profunda con las
            manos para amasar los músculos y liberar la tensión acumulada.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Fricción
        <ul>
          <li>
            <strong>Movimientos Circulares:</strong> Se realizan movimientos circulares
            con los dedos o las palmas para deshacer nudos y mejorar la circulación
            en áreas específicas.
          </li>
          <li>
            <strong>Presión y Levantamiento:</strong> Se aplica presión con los pulgares,
            las palmas o los codos para levantar y amasar los músculos, ayudando
            a deshacer contracturas.
          </li>
          <li>
            <strong>Puntos de Tensión:</strong> Se aplican presiones específicas
            en puntos de tensión para liberar nudos y aliviar el dolor.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Estiramientos Suaves
        <ul>
          <li>
            <strong>Movilidad:</strong> Se realizan estiramientos suaves para aumentar
            la flexibilidad y el rango de movimiento en áreas afectadas.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Golpeteo (Percusión)
        <ul>
          <li>
            <strong>Estimulación:</strong> Se realizan movimientos de golpeteo ligero
            con las manos o los dedos para estimular la circulación y aliviar la
            tensión.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Beneficios del Masaje Descontracturante</h2>
    <ul>
      <li>
        <strong>Reducción de Tensión:</strong> Ayuda a relajar los músculos tensos
        y aliviar el dolor asociado con contracturas.
      </li>
      <li>
        <strong>Circulación Sanguínea:</strong> Estimula la circulación sanguínea
        y linfática, favoreciendo el transporte de nutrientes y la eliminación de
        desechos metabólicos.
      </li>
      <li>
        <strong>Alivio del Dolor:</strong> Puede aliviar el dolor muscular crónico
        y agudo, proporcionando una sensación de alivio.
      </li>
      <li>
        <strong>Movilidad:</strong> Ayuda a aumentar el rango de movimiento y la
        flexibilidad muscular.
      </li>
      <li>
        <strong>Cuidado Muscular:</strong> Puede ayudar a prevenir lesiones relacionadas
        con la tensión muscular excesiva y el estrés.
      </li>
      <li>
        <strong>Relajación Física y Mental:</strong> Promueve una relajación profunda
        al reducir la tensión acumulada y mejorar el bienestar general.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
