---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Masaje Prenatal - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Masaje Prenatal"
    duration="60 min"
    price="$36.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20masaje%20prenatal."
  >
    <h2>¿Qué es un Masajes Prenatal?</h2>
    <p>
      Es una técnica terapéutica diseñada específicamente para atender las
      necesidades físicas y emocionales de las mujeres durante el embarazo. Este
      tipo de masaje ayuda a aliviar las molestias comunes del embarazo,
      promueve la relajación y mejora el bienestar general de la madre y el
      bebé. Se adapta cuidadosamente para ser seguro y cómodo en cada etapa del
      embarazo.
    </p>

    <h2>Proceso del Masaje Prenatal</h2>
    <ol>
      <li class="process-title">
        Consulta
        <ul>
          <li>
            <strong>Evaluación Inicial:</strong> El terapeuta realiza una evaluación
            para entender las necesidades de la madre, su historial médico y cualquier
            preocupación específica.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Ambiente
        <ul>
          <li>
            <strong>Entorno Relajante:</strong> Se crea un ambiente cómodo y relajante
            con iluminación suave, música tranquila y una temperatura agradable.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Posición del Cliente
        <ul>
          <li>
            <strong>Comodidad:</strong> La madre se acomoda en una posición que le
            resulte cómoda y segura. Durante el primer trimestre, es común que se
            use una posición lateral o semi-reclinada para evitar la presión en el
            abdomen. En etapas posteriores del embarazo, se pueden usar cojines especiales
            para apoyar el abdomen y la parte baja de la espalda.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Beneficios del Masaje Prenatal</h2>
    <ul>
      <li>
        <strong>Alivio del Dolor y la Tensión:</strong> Alivia dolores en la espalda,
        cuello, hombros y piernas, áreas comunes de tensión durante el embarazo.
      </li>
      <li>
        <strong>Reducción de la Hinchazón:</strong> Mejora la circulación sanguínea
        y linfática, lo que puede ayudar a reducir la hinchazón en las piernas y
        los pies.
      </li>
      <li>
        <strong>Mejora de la Circulación:</strong> Estimula la circulación, lo que
        favorece una mejor oxigenación de los tejidos y una eliminación más eficiente
        de toxinas.
      </li>
      <li>
        <strong>Alivio del Estrés y la Ansiedad:</strong> Promueve una sensación
        de calma y bienestar, ayudando a reducir el estrés y la ansiedad.
      </li>
      <li>
        <strong>Mejora del Sueño:</strong> Puede ayudar a mejorar la calidad del
        sueño, proporcionando un descanso más reparador.
      </li>
      <li>
        <strong>Aumento del Bienestar General:</strong> Favorece una sensación general
        de bienestar y confort, lo que es beneficioso tanto para la madre como para
        el bebé.
      </li>
    </ul>
  </Service>

  <style>
    h2 {
      margin: 1rem 0;
    }

    ol,
    ul {
      padding-left: 1rem;
    }

    li:is(.process-title) {
      color: var(--primary-color);
      font-weight: 700;
      font-size: 1.15rem;
      margin-bottom: 0.75rem;
    }

    li:not(.process-title) {
      color: var(--black);
      font-weight: 400;
      font-size: 1rem;
    }
  </style>
</Layout>
