---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Masaje para Bruxismo - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Masaje para Bruxismo"
    duration="50 min"
    price="$35.900"
  >
    <h2>¿Qué son los Masaje para el Bruxismo?</h2>
    <p>
      Es una técnica terapéutica que se enfoca en aliviar la tensión y el dolor
      asociados con el bruxismo, una condición en la que las personas aprietan o
      rechinan los dientes, generalmente durante el sueño. Este tipo de masaje
      se centra en relajar los músculos de la mandíbula, el cuello y los
      hombros, así como en reducir el estrés que puede contribuir al bruxismo.
    </p>
    <h2>Proceso del Masaje para Bruxismo</h2>
    <ol>
      <li class="process-title">
        Consulta
        <ul>
          <li>
            <strong>Evaluación Inicial:</strong> El terapeuta realiza una evaluación
            para comprender los síntomas específicos, el nivel de dolor y las áreas
            de tensión del cliente.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Ambiente
        <ul>
          <li>
            <strong>Entorno Relajante:</strong> Se crea un ambiente tranquilo y cómodo
            con una temperatura agradable, iluminación suave y música relajante para
            facilitar la relajación.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Posición del Cliente
        <ul>
          <li>
            <strong>Comodidad:</strong> El cliente se acomoda en una mesa de masaje
            en una posición cómoda, generalmente con la cabeza ligeramente levantada
            para acceder fácilmente a la mandíbula y el cuello.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Técnicas de Masajes para Bruxismo</h2>
    <ol>
      <li class="process-title">
        Masaje de la Mandíbula
        <ul>
          <li>
            <strong>Movimientos Circulares:</strong> El terapeuta usa movimientos
            circulares suaves y presión aplicada para relajar los músculos masticadores
            como el masetero y el temporal.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Amasamiento
        <ul>
          <li>
            <strong>Relajación Profunda:</strong> Se aplican técnicas de amasamiento
            en la zona de la mandíbula y el cuello para aliviar la tensión acumulada
            y mejorar la circulación.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Estiramientos Suaves
        <ul>
          <li>
            <strong>Flexibilidad:</strong> Se realizan estiramientos suaves de los
            músculos de la mandíbula y el cuello para mejorar la movilidad y reducir
            la rigidez.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Masaje del Cuello y los Hombros
        <ul>
          <li>
            <strong>Alivio de Tensión:</strong> Se trabaja en el cuello y los hombros
            para liberar tensiones que a menudo están relacionadas con el bruxismo
            y contribuyen a la tensión en la mandíbula.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Masaje de los Puntos Gatillo
        <ul>
          <li>
            <strong>Liberación de Tensión:</strong> Se identifican y se aplican técnicas
            de presión en puntos gatillo específicos en la mandíbula y el cuello
            para liberar tensiones localizadas.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Masaje de la Cara y la Cabeza
        <ul>
          <li>
            <strong>Relajación Facial:</strong> SSe incluyen técnicas suaves en la
            cara y la cabeza para proporcionar una sensación de alivio general y
            ayudar a relajar los músculos faciales.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Beneficios del Masaje para Bruxismo</h2>
    <ul>
      <li>
        <strong>Reducción de la Tensión Muscular:</strong> Alivia la tensión en los
        músculos masticadores, como el masetero y el temporal, que suelen estar muy
        tensos en personas con bruxismo.
      </li>
      <li>
        <strong>Alivio del Dolor:</strong> Reduce el dolor y las molestias en la
        mandíbula, los oídos y la cabeza asociados con el rechinar de dientes.
      </li>
      <li>
        <strong>Mejora de la Movilidad de la Mandíbula:</strong> Mejora la movilidad
        de la mandíbula y puede ayudar a aliviar la rigidez y el bloqueo.
      </li>
      <li>
        <strong>Reducción del Estrés:</strong> Al reducir el estrés y la tensión
        en el cuerpo, puede disminuir la frecuencia e intensidad del bruxismo.
      </li>
      <li>
        <strong>Estimulación de la Circulación:</strong> Mejora la circulación en
        los músculos de la mandíbula y el cuello, lo que puede ayudar en la recuperación
        y el alivio del dolor.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
