---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Masaje Craneal - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Masaje Craneal"
    duration="60 min"
    price="$34.900"
  >
    <h2>¿Qué son los Masajes Craneales?</h2>
    <p>
      Es una técnica terapéutica que se enfoca en la cabeza, el cuero cabelludo,
      y las áreas circundantes del cuello y los hombros. Este tipo de masaje
      está diseñado para aliviar tensiones, mejorar la circulación sanguínea en
      el cuero cabelludo y promover una sensación general de bienestar. A menudo
      se utiliza para tratar dolores de cabeza, migrañas, y estrés, y también
      puede contribuir a la salud del cabello.
    </p>
    <h2>Proceso del Masaje Craneal</h2>
    <ol>
      <li class="process-title">
        Consulta
        <ul>
          <li>
            <strong>Evaluación Inicial:</strong> El terapeuta puede hacer preguntas
            sobre el historial médico del cliente, problemas de salud específicos,
            y áreas de tensión.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Ambiente
        <ul>
          <li>
            <strong>Entorno Relajante:</strong> Se crea un ambiente cómodo con iluminación
            tenue, música suave y una temperatura agradable para facilitar la relajación.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Posición del Cliente
        <ul>
          <li>
            <strong>Comodidad:</strong> El cliente se acomoda en una posición cómoda,
            generalmente sentado en una silla reclinable o en una mesa de masaje
            con la cabeza ligeramente inclinada.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Técnicas de Masaje Craneal</h2>
    <ol>
      <li class="process-title">
        Masaje del Cuero Cabelludo
        <ul>
          <li>
            <strong>Movimientos Suaves y Profundos:</strong> Se utilizan movimientos
            circulares suaves y profundos con las yemas de los dedos para estimular
            el cuero cabelludo y liberar tensiones.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Amasamiento
        <ul>
          <li>
            <strong>Presión en Áreas Clave:</strong> Se aplica presión suave para
            amasar y relajar los músculos del cuero cabelludo y el área de la nuca.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Fricción
        <ul>
          <li>
            <strong>Movimientos Circulares:</strong> Se realizan movimientos circulares
            para trabajar áreas específicas de tensión y mejorar la circulación.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Estiramientos Suaves
        <ul>
          <li>
            <strong>Relajación de Músculos:</strong> Se integran estiramientos suaves
            del cuello y los hombros para aliviar la tensión acumulada en estas áreas.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Técnicas de Percusión
        <ul>
          <li>
            <strong>Estimulación:</strong> Se realizan golpes ligeros y suaves con
            los dedos para estimular el flujo sanguíneo y promover una sensación
            de bienestar.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Masaje de Templos y Mandíbula
        <ul>
          <li>
            <strong>Alivio de Tensión Facial:</strong> Se aplican técnicas suaves
            en las sienes y la mandíbula para liberar tensiones relacionadas con
            el estrés y la tensión facial.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Beneficios del Masaje Craneal</h2>
    <ul>
      <li>
        <strong>Reducción del Dolor:</strong> Puede ayudar a reducir la frecuencia
        y la intensidad de dolores de cabeza y migrañas al liberar tensiones en el
        cuero cabelludo y el cuello.
      </li>
      <li>
        <strong>Relajación Profunda:</strong> Promueve una sensación de calma y bienestar
        al reducir el estrés y la tensión acumulada.
      </li>
      <li>
        <strong>Circulación Sanguínea:</strong> Estimula la circulación en el cuero
        cabelludo, lo que puede promover la salud del cabello y la nutrición de los
        folículos pilosos.
      </li>
      <li>
        <strong>Salud Capilar:</strong> Al mejorar la circulación sanguínea, puede
        contribuir a un ambiente más saludable para el crecimiento del cabello.
      </li>
      <li>
        <strong>Liberación de Tensión:</strong> Aliviar tensiones en el cuello y
        los hombros, áreas que a menudo están relacionadas con dolores de cabeza.
      </li>
      <li>
        <strong>Sueño Reparador:</strong> Puede promover un sueño más profundo y
        reparador al reducir la tensión y el estrés.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
