---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Mantención de Uñas Acrílicas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Mantención de Uñas Acrílicas"
    duration="90 min"
    price="$28.900"
  >
    <h2>¿Qué es el Mantención de Uñas Acrílicas?</h2>
    <p>
      Es un procedimiento esencial para mantener la apariencia y la salud de las
      extensiones acrílicas a medida que las uñas naturales crecen. El proceso
      de relleno ayuda a llenar el espacio que se crea entre la uña natural y la
      extensión acrílica, asegurando que las uñas mantengan un aspecto uniforme
      y evitando problemas como el desprendimiento o el levantamiento del
      acrílico.
    </p>
    <h2>Proceso de Relleno de Uñas Acrílicas</h2>
    <ol>
      <li class="process-title">
        Preparación
        <ul>
          <li>
            <strong>Limpieza:</strong> Se limpia el esmalte o el top coat existente.
            Si se ha aplicado esmalte tradicional o gel, se elimina completamente.
          </li>
          <li>
            <strong>Inspección:</strong> Se revisan las uñas para detectar cualquier
            problema, como el levantamiento del acrílico o daños en las extensiones.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Lijado
        <ul>
          <li>
            <strong>Lijado de la Superficie:</strong> Se lija la superficie del acrílico
            existente para eliminar cualquier capa desgastada y permitir que el nuevo
            acrílico se adhiera correctamente. Esto también ayuda a eliminar el brillo
            y a preparar la superficie para el nuevo acrílico.
          </li>
          <li>
            <strong>Lijado del Área de Crecimiento:</strong> Se lijan los bordes
            donde el acrílico ha crecido junto con la uña natural. Esto asegura que
            el relleno se adhiera bien y se integre de manera uniforme.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Desinfección:</strong> Se desinfectan las uñas y se preparan
            para la aplicación del nuevo acrílico. Se eliminan los residuos de polvo
            y se asegura que las uñas estén limpias y secas.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Nuevo Acrílico
        <ul>
          <li>
            <strong>Preparación del Acrílico:</strong> Se mezcla el polvo acrílico
            con el líquido monómero para formar una pasta. Esta pasta se aplica en
            la zona de crecimiento donde el acrílico necesita ser rellenado.
          </li>
          <li>
            <strong>Aplicación y Modelado:</strong> Se aplica el acrílico en la zona
            de crecimiento y se moldea para igualar la forma de las uñas y cubrir
            el espacio vacío. Se utiliza un pincel para dar forma y asegurar que
            el acrílico se adhiera bien.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Secado y Lijado
        <ul>
          <li>
            <strong>Secado:</strong> El acrílico se deja secar y endurecer. Esto
            puede durar unos minutos y se realiza al aire.
          </li>
          <li>
            <strong>Lijado Final:</strong> Una vez seco, se lija la superficie para
            lograr una textura uniforme y suavizar cualquier irregularidad.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación de Top Coat y Diseño
        <ul>
          <li>
            <strong>Top Coat:</strong> Se aplica una capa de top coat para sellar
            y proteger el acrílico. Esto también proporciona un acabado brillante
            y duradero.
          </li>
          <li>
            <strong>Diseño (Opcional):</strong> Si lo deseas, se pueden aplicar esmaltes,
            geles de color, o diseños artísticos sobre las uñas acrílicas.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Finalización
        <ul>
          <li>
            <strong>Hidratación:</strong> Se aplican aceites para cutículas y cremas
            hidratantes para mantener las uñas y la piel circundante en buen estado.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Consejos y Cuidades para las Uñas Acrílicas</h2>
    <ol>
      <li class="process-title">
        Programar Visitas Regulares
        <ul>
          <li>
            <strong>Frecuencia de Rellenos:</strong> Es recomendable realizar el
            relleno cada 2-4 semanas, dependiendo de la velocidad de crecimiento
            de tus uñas naturales y de tu estilo de vida.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Cuidado de las Uñas y Cutículas
        <ul>
          <li>
            <strong>Hidratación Diaria:</strong> SAplica aceite para cutículas y
            crema hidratante a diario para mantener la salud de las cutículas y prevenir
            la sequedad.
          </li>
          <li>
            <strong>Protección:</strong> Usa guantes para proteger las manos y las
            uñas al realizar tareas domésticas o al manejar productos químicos.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Evitar Daños
        <ul>
          <li>
            <strong>No Forzar:</strong> Evita realizar movimientos bruscos o forzados
            que puedan dañar el acrílico o causar que se levante.
          </li>
          <li>
            <strong>Reparación Inmediata:</strong> Si notas algún daño en el acrílico,
            como fisuras o desprendimientos, busca atención profesional para reparar
            el problema y evitar complicaciones.
          </li>
        </ul>
      </li>
    </ol>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
