---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Retiro de Uñas Acrílicas + Esmaltado Tradicional - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Retiro de Uñas Acrílicas + Esmaltado Tradicional"
    duration="60 min"
    price="$22.900"
  >
    <h2>¿Qué es el Retiro de Uñas Acrílicas y Esmaltado Tradicional?</h2>
    <p>
      El retiro de uñas acrílicas y el esmaltado tradicional es un proceso
      meticuloso que asegura que tus uñas naturales permanezcan saludables
      mientras se eliminan los productos de manera eficaz. Este servicio también
      incluye el esmaltado tradicional para mantener tus uñas en perfecto
      estado.
    </p>

    <h2>Proceso del Retiro de Uñas Acrílicas y Esmaltado Tradicional</h2>
    <ol>
      <li class="process-title">
        Preparación
        <ul>
          <li>
            <strong>Lijado Suave:</strong> Se utiliza una lima de grano fino para
            frotar suavemente la superficie del esmalte acrílico, rompiendo la capa
            superior y permitiendo que el removedor penetre de manera más efectiva.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Aplicación del Removedor
        <ul>
          <li>
            <strong>Empapar Algodón:</strong> Un algodón se empapa con removedor
            de esmalte que contenga acetona, preparándolo para aplicar sobre las
            uñas.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Cubrir con Papel Aluminio
        <ul>
          <li>
            <strong>Enrollar con Papel Aluminio:</strong> Cada dedo se envuelve con
            papel aluminio para mantener el algodón en su lugar y evitar que el removedor
            se evapore, asegurando una mejor disolución del esmalte.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Tiempo de Espera
        <ul>
          <li>
            <strong>Dejar Actuar:</strong> El removedor debe actuar durante 10-15
            minutos. El tiempo puede variar dependiendo de la marca del esmalte y
            del removedor utilizado. Es importante seguir el tiempo recomendado para
            asegurar la eliminación completa.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Retiro del Esmalte
        <ul>
          <li>
            <strong>Retiro del Algodón y Acrílico:</strong> Se retira el papel aluminio
            y el algodón. Se utiliza un palito de naranjo para retirar suavemente
            el esmalte acrílico, asegurándose de no dañar la uña natural.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Limpieza y Cuidado
        <ul>
          <li>
            <strong>Limpiar Restos:</strong> Cualquier residuo de esmalte se limpia
            con un limpiador de gel si es necesario, asegurando que no queden restos.
          </li>
          <li>
            <strong>Hidratar:</strong> Se aplica aceite para cutículas y una crema
            hidratante para nutrir las uñas y la piel circundante, ayudando a restaurar
            la hidratación y mantener la salud de las uñas.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Aplicación de Esmaltado Tradicional
        <ul>
          <li>
            <strong>Preparación de las Uñas:</strong> Se liman y se dan forma a las
            uñas, se empujan las cutículas y se aplica una capa base para asegurar
            una buena adherencia del esmalte y proteger las uñas.
          </li>
          <li>
            <strong>Aplicación del Esmalte:</strong> Se aplican una o dos capas de
            esmalte de color, dejando secar entre capa y capa para evitar burbujas
            y estropear el acabado.
          </li>
          <li>
            <strong>Capa Superior:</strong> Se aplica una capa superior (top coat)
            para sellar el color, proporcionar un acabado brillante y extender la
            duración del esmaltado.
          </li>
          <li>
            <strong>Secado:</strong> El esmalte se seca al aire. Es importante evitar
            tocar o usar las manos hasta que el esmalte esté completamente seco para
            evitar marcas o daños.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Esmaltado Tradicional</h2>
    <ul>
      <li>
        <strong>Variedad de Colores y Acabados:</strong> Ofrece una amplia gama de
        colores y acabados, desde mates hasta metálicos y brillantes.
      </li>
      <li>
        <strong>Facilidad de Aplicación y Remoción:</strong> Es fácil de aplicar
        y retirar en comparación con los esmaltes de gel o acrílicos. Se usa quitaesmalte
        para remover el esmalte.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Esmaltado Tradicional</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Mantén las manos y las cutículas hidratadas
        con cremas y aceites para cutículas para evitar que se sequen y agrieten.
      </li>
      <li>
        <strong>Protección:</strong> Usa guantes al hacer tareas que impliquen exposición
        a detergentes o productos químicos para evitar el deterioro del esmalte y
        la sequedad de la piel.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
