---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Uñas Acrílicas Permanentes con Diseños - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Uñas Acrílicas Permanentes con Diseños"
    duration="180 min"
    price="$42.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20las%20u%C3%B1as%20acr%C3%ADlicas%20permanentes%20con%20dise%C3%B1os."
  >
    <h2>¿Qué son las Uñas Acrílicas Permanentes con Diseños?</h2>
    <p>
      Combinan la durabilidad y resistencia de las extensiones acrílicas con la
      creatividad del nail art, permitiendo una personalización completa. Esta
      técnica es ideal para quienes buscan una apariencia llamativa y única en
      sus uñas, con la ventaja adicional de que las extensiones acrílicas
      proporcionan una base sólida y duradera para aplicar diversos diseños.
    </p>
    <h2>Proceso de Aplicación de las Uñas Acrílicas con Diseños</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Limpieza y Desmaquillado:</strong> Se quita cualquier esmalte
            previo y se limpia bien la superficie de las uñas.
          </li>
          <li>
            <strong>Corte y Forma:</strong>
            Las uñas naturales se cortan y se les da forma. Las cutículas también
            se preparan, y se realiza un lijado ligero para mejorar la adhesión del
            acrílico.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación de las Extensiones Acrílicas
        <ul>
          <li>
            <strong>PPreparación del Acrílico:</strong> Se mezcla el polvo acrílico
            con el líquido monómero para formar una pasta que se seca al aire.
          </li>
          <li>
            <strong>Aplicación del Acrílico:</strong> La pasta acrílica se aplica
            sobre las uñas naturales o sobre moldes para construir la extensión.
            Se da forma y se asegura que el acrílico se adhiera correctamente.
          </li>
          <li>
            <strong>Secado y Lijado:</strong>
            Una vez seco el acrílico, se lija para darle la forma deseada y lograr
            una superficie suave y uniforme.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Diseño y Decoración
        <ul>
          <li>
            <strong>Aplicación de Base de Color (Opcional):</strong> Si se desea,
            se puede aplicar un esmalte de color o gel sobre las extensiones acrílicas
            como base para el diseño.
          </li>
          <li>
            <strong>Diseño Artístico:</strong>
            <ul>
              <li>
                <strong>Pintura a Mano:</strong> Utiliza pinceles finos para pintar
                diseños detallados como flores, geométricos, o patrones abstractos.
              </li>
              <li>
                <strong>Adornos y Decos:</strong> Puedes agregar elementos decorativos
                como pedrería, glitter, cintas, o transferencias de foil.
              </li>
              <li>
                <strong>Diseños en 3D:</strong> Algunos diseños incluyen elementos
                en relieve o 3D usando geles especiales para crear texturas y formas
                adicionales.
              </li>
            </ul>
          </li>
          <li>
            <strong>Aplicación de Top Coat:</strong> Una vez que el diseño esté completo,
            se aplica una capa superior de gel o esmalte para sellar el diseño y
            darle un acabado brillante y duradero. Esta capa se cura bajo una lámpara
            UV o LED si es gel.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Finalización
        <ul>
          <li>
            <strong>Limpieza y Revisión:</strong>
            Se limpia cualquier residuo y se revisa el acabado para asegurar que
            las uñas estén perfectas y el diseño esté sellado adecuadamente.
          </li>
        </ul>
      </li>
    </ol>
    <h2>Ventajas de las Uñas de Acrílicas con Diseños</h2>
    <ul>
      <li>
        <strong>Durabilidad:</strong> Las extensiones acrílicas proporcionan una
        base duradera que puede resistir el desgaste diario, mientras que el diseño
        permanece intacto durante varias semanas.
      </li>
      <li>
        <strong>Flexibilidad de Diseño:</strong> Permite una amplia gama de opciones
        de diseño, desde patrones sencillos hasta arte elaborado, adaptándose a cualquier
        ocasión o estilo personal.
      </li>
      <li>
        <strong>Resistencia:</strong> Las uñas acrílicas son resistentes a la rotura
        y al astillado, lo que significa que el diseño se mantendrá bien incluso
        con un uso intenso.
      </li>
    </ul>
    <h2>Cuidados Posteriores de las Uñas Acrílicas</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Aplica aceites para cutículas y cremas hidratantes
        para mantener la piel y las cutículas saludables.
      </li>
      <li>
        <strong>Mantenimiento Regular:</strong> Realiza visitas periódicas a un salón
        para rellenar el crecimiento y mantener las extensiones y el diseño en buen
        estado.
      </li>
      <li>
        <strong>Protección:</strong> Evita impactos fuertes y exposiciones prolongadas
        a productos químicos para proteger las extensiones y el diseño.
      </li>
      <li>
        <strong>Limpieza Cuidadosa:</strong> Limpia las uñas suavemente con productos
        no abrasivos para mantener el diseño intacto.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
