---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Uñas Acrílicas Tradicional - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Uñas Acrílicas Tradicional"
    duration="120 min"
    price="$30.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20las%20u%C3%B1as%20acr%C3%ADlicas%20tradicionales."
  >
    <h2>¿Qué son las Uñas Acrílicas Tradicional?</h2>
    <p>
      Aplicar esmalte tradicional sobre uñas acrílicas es una opción popular
      para quienes desean un acabado colorido y variado en sus extensiones.
      Aunque las uñas acrílicas proporcionan una base duradera y sólida, el
      esmalte tradicional permite una amplia gama de colores y efectos.
    </p>
    <h2>Proceso de Aplicación de Uñas Acrílicas con Esmalte Tradicional</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Limpieza y Desmaquillado:</strong> Se quita cualquier esmalte
            anterior y se limpia bien la superficie de las uñas acrílicas.
          </li>
          <li>
            <strong>Corte y Forma:</strong>
            Las uñas acrílicas se liman y se les da forma según el diseño deseado.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Esmalte Tradicional
        <ul>
          <li>
            <strong>Base Coat:</strong> Se aplica una capa base de esmalte para proteger
            las uñas acrílicas y mejorar la adhesión del esmalte. Esto también ayuda
            a prevenir el cambio de color de las acrílicas debido a la pigmentación
            del esmalte.
          </li>
          <li>
            <strong>Aplicación del Color:</strong>
            <ul>
              <li>
                <strong>Primera Capa:</strong> Se aplica una primera capa de esmalte
                tradicional. Es importante aplicar el esmalte en capas finas para
                evitar que se agriete o se desgaste rápidamente.
              </li>
              <li>
                <strong>Segunda Capa:</strong> Después de que la primera capa esté
                seca, se aplica una segunda capa para obtener un color más opaco
                y uniforme.
              </li>
            </ul>
          </li>
          <li>
            <strong>Top Coat:</strong>
            Se aplica una capa superior de esmalte para sellar el color y darle un
            acabado brillante. Esto también ayuda a proteger el esmalte y a prolongar
            la durabilidad del color.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado al Aire:</strong> El esmalte tradicional debe secarse
            al aire, lo cual puede llevar varios minutos. Evita usar las manos hasta
            que el esmalte esté completamente seco para evitar marcas o manchas.
          </li>
          <li>
            <strong>Secado Rápido:</strong> Si estás apurada, puedes usar secadores
            de esmalte o sprays de secado rápido para acelerar el proceso.
          </li>
        </ul>
      </li>
    </ol>
    <h2>Ventajas de Usar Esmalte Tradicional en Uñas Acrílicas</h2>
    <ul>
      <li>
        <strong>Variedad de Colores y Efectos:</strong> El esmalte tradicional ofrece
        una amplia gama de colores, acabados y efectos (mate, brillante, metálico,
        etc.), lo que permite personalizar fácilmente el diseño de las uñas.
      </li>
      <li>
        <strong>Facilidad de Aplicación:</strong> Aplicar esmalte tradicional es
        relativamente sencillo y puede hacerse en casa con el equipo adecuado.
      </li>
    </ul>
    <h2>Cuidados Posteriores de las Uñas Acrílicas</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Aplica aceites para cutículas y cremas hidratantes
        para mantener la salud de las cutículas y evitar que se resequen.
      </li>
      <li>
        <strong>Protección:</strong> Evita realizar tareas que puedan dañar el esmalte,
        como el uso de productos químicos sin protección o el contacto con superficies
        ásperas.
      </li>
      <li>
        <strong>Retiro del Esmalte:</strong> Usa removedor de esmalte sin acetona
        si es posible, ya que la acetona puede debilitar el acrílico con el tiempo.
        Empapa un algodón con removedor, colócalo sobre la uña y envuélvelo con papel
        aluminio para facilitar la eliminación.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
