---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Uñas Acrílicas Permanentes - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Uñas Acrílicas Permanentes"
    duration="150 min"
    price="$36.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20las%20u%C3%B1as%20acr%C3%ADlicas%20permanentes.#"
  >
    <h2>¿Qué son las Uñas Acrílicas Permanentes?</h2>
    <p>
      Son extensiones creadas mediante la mezcla de un polvo acrílico y un
      líquido monómero. Esta mezcla se aplica sobre las uñas naturales o sobre
      moldes y se seca al aire para formar una extensión sólida y resistente.
      Las uñas acrílicas son conocidas por su durabilidad y capacidad para
      mantener su forma y longitud durante varias semanas.
    </p>
    <h2>Proceso de Aplicación de las Uñas Acrílicas Permanentes</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Limpieza y Desmaquillado:</strong> Se retira cualquier esmalte
            anterior y se limpia bien la superficie de las uñas.
          </li>
          <li>
            <strong>Corte y Forma:</strong>
            Las uñas naturales se cortan y se les da forma. También se preparan las
            cutículas y se realiza un lijado suave para mejorar la adhesión del acrílico.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Acrílico
        <ul>
          <li>
            <strong>Preparación del Polvo y Líquido:</strong> Se mezcla el polvo
            acrílico con el líquido monómero para formar una pasta. Esta mezcla se
            seca rápidamente al aire.
          </li>
          <li>
            <strong>Aplicación:</strong> La pasta acrílica se aplica sobre la uña
            natural o sobre un molde para construir la extensión. El técnico usa
            un pincel para dar forma al acrílico y asegurarse de que se adhiera adecuadamente
            a la uña natural.
          </li>
          <li>
            <strong>Secado:</strong>
            A diferencia de los geles que se curan bajo lámparas, el acrílico se
            seca al aire. Durante este tiempo, el acrílico se endurece y forma una
            extensión sólida.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Formado y Diseño
        <ul>
          <li>
            <strong>Lijado y Modelado:</strong> Una vez que el acrílico se ha secado
            y endurecido, se lija la superficie para darle la forma deseada y lograr
            un acabado suave.
          </li>
          <li>
            <strong>Aplicación de Color y Diseño:</strong> Se pueden aplicar esmaltes,
            diseños artísticos, o incluso geles de color sobre las uñas acrílicas
            para personalizar el look.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Capa Superior
        <ul>
          <li>
            <strong>Aplicación de Top Coat:</strong>
            Si se ha utilizado esmalte o gel, se aplica una capa superior para sellar
            el diseño y darle un acabado brillante y duradero.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Finalización
        <ul>
          <li>
            <strong>Limpieza:</strong>
            Se limpia cualquier residuo y se revisa el acabado para asegurarse de
            que las uñas estén perfectas.
          </li>
        </ul>
      </li>
    </ol>
    <h2>Ventajas de las Uñas de Acrílicas Permanentes</h2>
    <ul>
      <li>
        <strong>Durabilidad:</strong> Las uñas acrílicas son muy resistentes y pueden
        durar de 3 a 6 semanas con el cuidado adecuado, sin romperse ni astillarse
        fácilmente.
      </li>
      <li>
        <strong>Flexibilidad en Diseño:</strong> Ofrecen una gran flexibilidad en
        términos de longitud y forma, y permiten una amplia gama de diseños artísticos.
      </li>
      <li>
        <strong>Refuerzo de Uñas Naturales:</strong> Son una buena opción para quienes
        tienen uñas naturales débiles o que se rompen fácilmente, ya que las extensiones
        acrílicas proporcionan un soporte adicional.
      </li>
    </ul>
    <h2>Cuidados Posteriores de las Uñas Acrílicas</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Aplica aceites para cutículas y cremas hidratantes
        para mantener la piel y las cutículas saludables.
      </li>
      <li>
        <strong>Mantenimiento Regular:</strong> Realiza visitas periódicas a un salón
        para rellenar el crecimiento y mantener las extensiones en buen estado.
      </li>
      <li>
        <strong>Protección:</strong> Usa guantes al manejar productos químicos o
        realizar tareas que puedan dañar las extensiones.
      </li>
      <li>
        <strong>Retiro Seguro:</strong> Para retirar las uñas acrílicas, es esencial
        seguir un proceso adecuado para evitar dañar las uñas naturales. Esto puede
        incluir el uso de removedores específicos y la remoción cuidadosa del acrílico.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
