---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import Footer from "@sections/Footer.astro";
import ServiceCard from "@components/ServiceCard.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
import Header from "@components/Header.astro";

const options = {
  title: "Maquillaje y Peinados - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Maquillaje y Peinados" />

      <ServiceCategories column>
        <ServiceCard
          img="https://placehold.co/600x400"
          name="Maquillaje de dia"
          duration="60 min"
          price="$36.900"
          info="/servicios/manos-y-pies/manos-tradicional"
          booking="#"
        />
        <ServiceCard
          img="https://placehold.co/600x400"
          name="aquillaje de noche"
          duration="60 min"
          price="$40.900"
          info="/servicios/manos-y-pies/manos-permanente"
          booking="#"
        />
        <ServiceCard
          img="https://placehold.co/600x400"
          name="Peinado"
          duration="9 min"
          price="$30.900"
          info="/servicios/manos-y-pies/manos-permanente"
          booking="#"
        />
        <ServiceCard
          img="https:placehold.co/600x400"
          name="Maquillaje + Peinado"
          duration="90 min"
          price="$64.900"
          info="/servicios/manos-y-pies/manos-tradicional"
          booking="#"
        />
      </ServiceCategories>
    </section>

    <Booking />

    <Footer />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
  }
</style>
