---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Maquillaje + Peinado - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Maquillaje + Peinado"
    duration="120 min"
    price="$64.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20maquillaje%20%2B%20peinado."
  >
    <h2>¿Qué es el Servicio de Maquillaje y Peinado?</h2>
    <p>
      El Servicio de Maquillaje y Peinado combina la experiencia de crear un
      look completo, adaptado tanto para el día como para la noche, con un
      peinado que complementa y realza tu estilo personal. Ideal para cualquier
      ocasión, este servicio te permite lucir radiante y segura, ya sea en
      eventos diurnos o nocturnos.
    </p>

    <h2>Maquillaje de Día</h2>
    <p>
      Se caracteriza por su enfoque natural y fresco, ideal para el uso diario
      en el trabajo, reuniones y actividades diurnas. Su objetivo es realzar la
      belleza natural sin exagerar, proporcionando un acabado luminoso y
      saludable.
    </p>

    <h2>Consejos Adicionales para el Maquillaje de Día</h2>
    <ul>
      <li>
        <strong>Mantén la Simplicidad:</strong> El maquillaje de día debe ser ligero
        y natural. Evita los colores demasiado intensos y los acabados brillantes.
      </li>
      <li>
        <strong>Adaptabilidad:</strong> Ajusta los tonos y técnicas según tu tipo
        de piel y preferencias personales para lograr el look que mejor te favorezca.
      </li>
      <li>
        <strong>Hidratación Continua:</strong> Mantén la piel bien hidratada durante
        el día para un acabado fresco y saludable.
      </li>
    </ul>

    <p>
      El maquillaje de día se trata de realzar tus rasgos naturales y mantener
      un aspecto fresco y saludable. Sigue estos pasos para lograr un look que
      te haga sentir segura y lista para enfrentar el día.
    </p>

    <h2>Maquillaje de Noche</h2>
    <p>
      Tiende a ser más dramático y sofisticado en comparación con el maquillaje
      de día. Ideal para eventos especiales, cenas y salidas nocturnas, el
      maquillaje de noche suele incluir colores más intensos, acabados más
      luminosos y técnicas que realzan la mirada y los labios para un look más
      impactante.
    </p>

    <p>
      El maquillaje de noche se trata de destacar y realzar tus características
      para un look impactante y sofisticado.
    </p>

    <h2>Peinados</h2>
    <p>
      Los peinados son la forma en la que se arregla y estiliza el cabello. Hay
      muchos tipos de peinados, desde looks sencillos y naturales hasta estilos
      más elaborados y decorativos, que pueden ser ajustados para complementar
      tanto un maquillaje de día como de noche.
    </p>

    <h2>Consejos Generales para Todos los Peinados</h2>
    <ul>
      <li>
        <strong>Preparación:</strong> Usa productos como mousse o spray para dar
        volumen y textura al cabello antes de peinarlo.
      </li>
      <li>
        <strong>Mantenimiento:</strong> Asegúrate de que el cabello esté bien acondicionado
        y libre de frizz para un acabado pulido.
      </li>
      <li>
        <strong>Herramientas:</strong> Utiliza herramientas adecuadas como planchas,
        tenazas y brochas para lograr el estilo deseado.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
