---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Peinados - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Peinados"
    duration="60 min"
    price="$30.900"
  >
    <h2>¿Qué son los Peinados?</h2>
    <p>
      Es la forma en la que se arregla y estiliza el cabello. Hay muchos tipos
      de peinados, desde looks sencillos y naturales hasta estilos más
      elaborados y decorativos.
    </p>

    <h2>Consejos Generales para Todos los Peinados</h2>
    <ul>
      <li>
        <strong>Preparación:</strong> Usa productos como mousse o spray para dar
        volumen y textura al cabello antes de peinarlo.
      </li>
      <li>
        <strong>Mantenimiento:</strong> Asegúrate de que el cabello esté bien acondicionado
        y libre de frizz para un acabado pulido.
      </li>
      <li>
        <strong>Herramientas:</strong> Utiliza herramientas adecuadas como planchas,
        tenazas y brochas para lograr el estilo deseado.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
