---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Lifting de Pestañas + Manicure Permanente - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Lifting de Pestañas + Manicure Permanente"
    duration="120 min"
    price="$40.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20la%20promoci%C3%B3n%20de%20lifting%20de%20pesta%C3%B1as%20%2B%20manicure%20permanente."
  >
    <h2>¿Qué es el Lifting de Pestañas y Manicure Permanente?</h2>
    <p>
      El Lifting de Pestañas y Manicure Permanente es un tratamiento integral de
      belleza que resalta tanto las pestañas como las uñas, proporcionando un
      aspecto cuidado y duradero. El lifting de pestañas utiliza soluciones
      químicas para rizar y levantar las pestañas desde la raíz, creando un
      efecto de mayor longitud y curvatura sin necesidad de rímel. El manicure
      permanente, también conocido como esmalte de gel, garantiza unas uñas
      impecables durante semanas sin necesidad de retoques frecuentes.
    </p>

    <h2>Beneficios del Lifting de Pestañas</h2>
    <ul>
      <li>
        <strong>Efecto Duradero:</strong> El rizado de pestañas dura entre 6 a 8
        semanas, dependiendo del ciclo natural de crecimiento de las pestañas.
      </li>
      <li>
        <strong>Ojos Más Amplios:</strong> Las pestañas rizadas y levantadas hacen
        que los ojos parezcan más grandes y despiertos.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de usar un rizador
        de pestañas y de aplicar rímel.
      </li>
      <li>
        <strong>Efecto de Mayor Densidad:</strong> Las pestañas levantadas parecen
        más largas y voluminosas.
      </li>
      <li>
        <strong>Sin Dolor:</strong> El tratamiento es no invasivo y generalmente
        indoloro.
      </li>
    </ul>

    <h2>Proceso de Aplicación del Manicure Permanente</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            Las uñas se liman, se les da forma y se empuja la cutícula para
            prepararlas para el esmalte.
          </li>
          <li>
            Se aplica una capa base que ayuda a que el esmalte se adhiera mejor.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            Se aplica el esmalte en capas finas y cada capa se cura bajo una
            lámpara UV o LED. La luz dura entre 30 segundos y 2 minutos
            dependiendo del tipo de lámpara y el esmalte.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Capa Superior
        <ul>
          <li>
            Se aplica una capa final de esmalte que también se cura con la
            lámpara para sellar el color y darle un acabado brillante.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Finalización
        <ul>
          <li>
            Se limpia cualquier residuo pegajoso con un limpiador especial para
            dejar las uñas lisas y brillantes.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Manicure Permanente</h2>
    <ul>
      <li>
        <strong>Durabilidad:</strong> Puede durar de 2 a 4 semanas sin desconchamientos.
      </li>
      <li>
        <strong>Brillo:</strong> Mantiene un acabado brillante durante todo el tiempo
        que dura el esmalte.
      </li>
      <li>
        <strong>Secado Rápido:</strong> El esmalte se seca rápidamente bajo la lámpara,
        evitando el riesgo de que se estropee mientras está seco.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Lifting de Pestañas y Manicure Permanente</h2>
    <ul>
      <li>
        <strong>Lifting de Pestañas:</strong> Evita mojar las pestañas durante al
        menos 24 horas después del tratamiento para permitir que el rizado se fije
        completamente. Usa productos suaves y evita el uso de productos a base de
        aceite en las pestañas.
      </li>
      <li>
        <strong>Manicure Permanente:</strong> Aplica aceite para cutículas o crema
        hidratante regularmente para mantener las uñas y la piel alrededor en buen
        estado. No intentes quitar el esmalte de gel con fuerza; utiliza un removedor
        especializado.
      </li>
      <li>
        <strong>Protección:</strong> Protege tanto las pestañas como las uñas de
        la exposición directa al sol y fuentes de calor intensas para prolongar la
        duración del tratamiento.
      </li>
    </ul>

    <p>
      <em
        >Este tratamiento combinado es perfecto para quienes buscan realzar la
        belleza de sus ojos y uñas de manera efectiva y duradera.</em
      >
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
