---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Permanente 2 Amigas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Permanente 2 Amigas"
    duration="120 min"
    price="$35.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20la%20promoci%C3%B3n%20de%20manicure%20permanente%20para%202%20amigas."
  >
    <h2>¿Qué es el Manicure Permanente para Amigas?</h2>
    <p>
      El Manicure Permanente es una experiencia ideal para compartir entre
      amigas, donde ambas pueden disfrutar de un tratamiento de uñas impecable y
      duradero. Conocido también como esmalte de gel o gel polish, este servicio
      les permitirá a ti y a tu amiga lucir unas uñas perfectas durante semanas
      sin necesidad de retoques frecuentes.
    </p>

    <h2>Proceso de Aplicación del Manicure Permanente</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            Las uñas se liman, se les da forma y se empuja la cutícula para
            prepararlas para el esmalte. Este proceso se realiza simultáneamente
            para ambas, creando un ambiente relajante y compartido.
          </li>
          <li>
            Se aplica una capa base que ayuda a que el esmalte se adhiera mejor
            y dure más tiempo.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            Se aplica el esmalte en capas finas, y cada capa se cura bajo una
            lámpara UV o LED. Mientras una amiga espera su turno bajo la
            lámpara, la otra puede escoger los próximos colores o simplemente
            disfrutar de una charla relajada.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Capa Superior
        <ul>
          <li>
            Se aplica una capa final de esmalte que también se cura con la
            lámpara para sellar el color y darle un acabado brillante. Ambas
            amigas podrán disfrutar de unas uñas radiantes y listas para
            cualquier ocasión.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Finalización
        <ul>
          <li>
            Se limpia cualquier residuo pegajoso con un limpiador especial para
            dejar las uñas lisas y brillantes. ¡Un momento perfecto para admirar
            el resultado y tomar fotos de sus nuevas uñas juntas!
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Manicure Permanente para Amigas</h2>
    <ul>
      <li>
        <strong>Durabilidad:</strong> Ambas podrán disfrutar de uñas perfectas de
        2 a 4 semanas sin desconchamientos.
      </li>
      <li>
        <strong>Brillo:</strong> Mantiene un acabado brillante durante todo el tiempo
        que dura el esmalte, ideal para compartir juntas el brillo de unas uñas impecables.
      </li>
      <li>
        <strong>Secado Rápido:</strong> El esmalte se seca rápidamente bajo la lámpara,
        lo que permite seguir disfrutando de su día sin preocupaciones.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Manicure Permanente</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Aplica aceite para cutículas o crema hidratante
        regularmente para mantener las uñas y la piel alrededor en buen estado. ¡Un
        recordatorio para que ambas amigas cuiden sus manos!
      </li>
      <li>
        <strong>Quitar el esmalte correctamente:</strong> No intentes quitar el esmalte
        de gel con fuerza. Utiliza un removedor especializado y sigue las instrucciones
        para evitar dañar tus uñas. Este cuidado conjunto garantiza que ambas mantengan
        sus uñas sanas y fuertes.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
