---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Perfilado de Cejas + Lifting de Pestañas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="/images/promociones/perfilado-de-cejas-lifting.avif"
    title="Perfilado de Cejas + Lifting de Pestañas"
    duration="90 min"
    price="$34.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20la%20promoci%C3%B3n%20de%20perfilado%20de%20cejas%20%2B%20lifting%20de%20pesta%C3%B1as."
  >
    <h2>¿Qué es el Perfilado de Cejas y Lifting de Pestañas?</h2>
    <p>
      El Perfilado de Cejas y Lifting de Pestañas es un tratamiento combinado
      que busca realzar la belleza natural del rostro. El perfilado define y
      contornea las cejas, logrando una forma que complementa las
      características faciales. Por otro lado, el lifting de pestañas riza y
      levanta las pestañas desde la raíz, creando un efecto de mayor longitud y
      curvatura sin necesidad de rímel o extensiones. Juntos, estos
      procedimientos proporcionan una apariencia más definida, luminosa y
      natural.
    </p>

    <h2>Beneficios del Perfilado de Cejas</h2>
    <ul>
      <li>
        <strong>Precisión:</strong> Permite un control detallado y una forma precisa
        de las cejas, lo que realza la simetría y la estructura facial.
      </li>
      <li>
        <strong>Duración:</strong> Los resultados del perfilado suelen durar varias
        semanas, manteniendo las cejas bien definidas.
      </li>
    </ul>

    <h2>Beneficios del Lifting de Pestañas</h2>
    <ul>
      <li>
        <strong>Efecto Duradero:</strong> El rizado de pestañas dura entre 6 a 8
        semanas, dependiendo del ciclo natural de crecimiento de las pestañas.
      </li>
      <li>
        <strong>Ojos Más Amplios:</strong> Las pestañas rizadas y levantadas hacen
        que los ojos parezcan más grandes y despiertos.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de usar un rizador
        de pestañas y de aplicar rímel.
      </li>
      <li>
        <strong>Efecto de Mayor Densidad:</strong> Las pestañas levantadas parecen
        más largas y voluminosas.
      </li>
      <li>
        <strong>Sin Dolor:</strong> El tratamiento es no invasivo y generalmente
        indoloro.
      </li>
    </ul>

    <h2>Consejos Adicionales y Cuidados Posteriores</h2>
    <ul>
      <li>
        <strong>Frecuencia:</strong> Realiza el perfilado de cejas cada 4-6 semanas
        para mantener la forma ideal. El lifting de pestañas puede retocarse cada
        6-8 semanas para prolongar el efecto rizado.
      </li>
      <li>
        <strong>Forma Natural:</strong> Mantén la forma natural de tus cejas en mente
        para evitar un aspecto artificial. En cuanto a las pestañas, evita mojarlas
        durante las primeras 24 horas y usa productos suaves para cuidarlas.
      </li>
      <li>
        <strong>Cuidado de las Pestañas:</strong> Evita el uso de productos a base
        de aceite en las pestañas y protege tus ojos de la exposición directa al
        sol y fuentes de calor intensas.
      </li>
      <li>
        <strong>Protección y Mantenimiento:</strong> Protege tanto las cejas como
        las pestañas para prolongar la duración y el efecto de ambos tratamientos.
      </li>
    </ul>

    <p>
      <em
        >Este tratamiento combinado es ideal para quienes buscan realzar la
        expresión de su rostro de manera natural y duradera, logrando una mirada
        más definida y atractiva.</em
      >
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
