---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Pedicure Permanente 2 Amigas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Pedicure Permanente 2 Amigas"
    duration="120 min"
    price="$38.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20la%20promoci%C3%B3n%20de%pedicure%20permanente%20para%202%20amigas."
  >
    <h2>¿Qué es el Pedicure Permanente para Amigas?</h2>
    <p>
      El Pedicure Permanente es una experiencia perfecta para compartir entre
      amigas, asegurando que ambas puedan disfrutar de pies impecables y uñas
      duraderas sin necesidad de retoques constantes. Este tratamiento les
      permite a ti y a tu amiga mantener sus uñas de los pies en excelente
      estado durante varias semanas, ideal para esos días de descanso y
      relajación juntas.
    </p>

    <h2>Proceso de Aplicación del Pedicure Permanente</h2>
    <ol>
      <li class="process-title">
        Preparación
        <ul>
          <li>
            <strong>Limpieza y Exfoliación:</strong> El proceso comienza con una
            limpieza de los pies, eliminando cualquier resto de esmalte anterior
            y exfoliando la piel muerta. Ambas amigas podrán disfrutar de este paso
            mientras conversan y se relajan.
          </li>
          <li>
            <strong>Corte y Forma:</strong> Las uñas se cortan y se les da forma
            adecuada, empujando las cutículas y retirando cualquier exceso de piel.
            Este momento de cuidado es ideal para compartir consejos de belleza y
            disfrutar de la compañía.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            <strong>Capa Base:</strong> Se aplica una capa base que ayuda a que el
            esmalte se adhiera bien, garantizando una durabilidad prolongada.
          </li>
          <li>
            <strong>Esmalte de Gel:</strong> Se aplica el esmalte de gel en capas
            finas, curando cada capa bajo una lámpara UV o LED. Mientras una amiga
            se seca el esmalte, la otra puede elegir su color favorito, creando un
            ambiente divertido y compartido.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Capa Superior
        <ul>
          <li>
            <strong>Sellado:</strong> Se aplica una capa superior de gel que se cura
            bajo la lámpara, proporcionando un acabado brillante que ambas amigas
            podrán lucir con orgullo.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Finalización
        <ul>
          <li>
            <strong>Limpieza:</strong> Se limpia cualquier residuo pegajoso con un
            limpiador especial para dejar las uñas y la piel alrededor en perfecto
            estado. Es el momento perfecto para que ambas amigas admiren sus pies
            renovados y se tomen algunas fotos para recordar.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Pedicure Permanente para Amigas</h2>
    <ul>
      <li>
        <strong>Durabilidad:</strong> Ambas podrán disfrutar de uñas perfectas entre
        2 y 4 semanas sin desconchamientos, ideal para mantener un look impecable
        durante más tiempo.
      </li>
      <li>
        <strong>Brillo:</strong> El esmalte mantiene un acabado brillante y atractivo,
        perfecto para presumir sus pies en cualquier ocasión.
      </li>
      <li>
        <strong>Secado Rápido:</strong> El esmalte se seca instantáneamente bajo
        la lámpara, lo que les permitirá seguir disfrutando de su día sin preocupaciones.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Pedicure Permanente</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Es importante mantener la piel de los pies
        hidratada. Ambas amigas pueden compartir cremas para pies y aceites para
        cutículas para asegurarse de que sus pies sigan suaves y bien cuidados.
      </li>
      <li>
        <strong>Quitar el esmalte correctamente:</strong> Utiliza un removedor de
        gel especializado y sigue las instrucciones para evitar dañar tus uñas o
        piel. Este es un cuidado que ambas amigas pueden hacer juntas, asegurándose
        de mantener sus uñas en perfecto estado.
      </li>
    </ul>

    <p>
      <em
        >Recuerda que es importante cuidar tus pies y uñas después del
        tratamiento para mantener los resultados. ¡Disfruten de su tiempo juntas
        y mantengan sus pies hermosos!</em
      >
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
