---
import Layout from "@layouts/Layout.astro";
import Hero from "@sections/Hero.astro";
import Categories from "@sections/Categories.astro";
import WhyChooseUs from "@sections/WhyChooseUs.astro";
import Booking from "@sections/Booking.astro";

const options = {
  title: "Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <main>
    <Hero />

    <Categories />

    <WhyChooseUs />

    <Booking />
  </main>
</Layout>
