---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Laminado de Cejas + Perfilado - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Laminado de Cejas + Perfilado"
    duration="90 min"
    price="$28.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20laminado%20de%20cejas%20%2B%20perfilado."
  >
    <h2>¿Qué es el Laminado de Cejas con Perfilado?</h2>
    <p>El laminado de cejas más perfilado es un tratamiento que incluye:</p>
    <ul>
      <li>
        <strong>Perfilado:</strong> Define y da forma a las cejas mediante la depilación
        para eliminar el vello no deseado y esculpir la forma ideal.
      </li>
      <li>
        <strong>Laminado:</strong> Utiliza soluciones químicas para alisar y fijar
        los vellos de las cejas en una posición deseada, proporcionando un acabado
        uniforme y duradero.
      </li>
    </ul>

    <h2>Beneficios del Laminado de Cejas con Perfilado</h2>
    <ul>
      <li>
        <strong>Perfilado:</strong> Permite una forma precisa y esculpida de las
        cejas, mejorando su simetría y perfil.
      </li>
      <li>
        <strong>Laminado:</strong> Proporciona un acabado liso y ordenado.
      </li>
      <li>
        <strong>Larga Duración:</strong> Los resultados pueden durar entre 6 y 8
        semanas, reduciendo la necesidad de retoques frecuentes.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de aplicar productos
        para cejas diariamente.
      </li>
      <li>
        <strong>Efecto de Mayor Densidad:</strong> Hace que las cejas se vean más
        llenas y voluminosas, ideal para vellos finos o escasos.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
