---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Laminado de Cejas - Deluxe Beauty",
  description:
    "Luce cejas perfectas con nuestro servicio de laminado de cejas. Dale forma y volumen a tus cejas con un tratamiento profesional que realza tu mirada de forma natural y duradera.",
};
---

<Layout options={options}>
  <Service
    img="/images/cejas-y-pestanas/laminado-de-cejas.avif"
    title="Laminado de Cejas"
    duration="60 min"
    price="$18.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20laminado%20de%20cejas."
  >
    <h2>¿Qué es el Laminado de Cejas?</h2>
    <p>
      Es un procedimiento que utiliza soluciones químicas para suavizar, alisar
      y fijar los vellos de las cejas en la posición deseada. El tratamiento
      también puede incluir la aplicación de tintura para mejorar el color y la
      densidad de las cejas. El resultado es un aspecto más ordenado, definido y
      con un acabado profesional que dura varias semanas.
    </p>

    <h2>Beneficios del Planchado con Perfilado de Cejas</h2>
    <ul>
      <li>
        <strong>Aspecto Ordenado:</strong> Proporciona un acabado uniforme, eliminando
        el frizz y asegurando que los vellos se mantengan en su lugar.
      </li>
      <li>
        <strong>Mantenimiento Bajo:</strong> Los resultados pueden durar de 6 a 8
        semanas, lo que reduce la necesidad de retoques frecuentes.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Disminuye la necesidad de aplicar productos
        para cejas diariamente.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de aplicar productos
        para cejas diariamente.
      </li>
      <li>
        <strong>Efecto de Mayor Densidad:</strong> Puede hacer que las cejas se vean
        más llenas y voluminosas, especialmente si los vellos son finos o escasos.
      </li>
      <li>
        <strong>Tintura Opcional:</strong> La posibilidad de aplicar tintura puede
        ayudar a igualar el color y mejorar la apariencia de las cejas.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Laminado de Cejas</h2>
    <ul>
      <li>
        <strong>Primera Hora:</strong> Evita mojar las cejas durante al menos 24
        horas después del tratamiento para permitir que el laminado se fije completamente.
      </li>
      <li>
        <strong>Cuidado de la Piel:</strong> Usa limpiadores suaves y evita productos
        a base de aceite en las cejas para prolongar la duración del tratamiento.
      </li>
      <li>
        <strong>Protección:</strong> Protege las cejas de la exposición directa al
        sol y fuentes de calor intensas.
      </li>
      <li>
        <strong>Retoques:</strong> Realiza retoques cada 6-8 semanas para mantener
        la forma y el acabado deseado.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
