---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Lifting de Pestañas - Deluxe Beauty",
  description:
    "Consigue pestañas más largas y curvadas de forma natural con nuestro lifting de pestañas. Un tratamiento profesional que realza tu mirada sin necesidad de extensiones ni rímel.",
};
---

<Layout options={options}>
  <Service
    img="/images/cejas-y-pestanas/lifting-de-pestanas.avif"
    title="Lifting de Pestañas"
    duration="60 min"
    price="$20.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20lifting%20de%20pesta%C3%B1as."
  >
    <h2>¿Qué es el Lifting de Pestañas?</h2>
    <p>
      Es un tratamiento que utiliza soluciones químicas para rizar y levantar
      las pestañas desde la raíz, creando un efecto de mayor longitud y
      curvatura sin necesidad de aplicar rímel o extensiones. Este proceso
      proporciona una apariencia más abierta y luminosa a los ojos, resaltando
      la belleza natural de las pestañas.
    </p>

    <h2>Beneficios del Lifting de Pestañas</h2>
    <ul>
      <li>
        <strong>Efecto Duradero:</strong> El rizado dura entre 6 a 8 semanas, dependiendo
        del ciclo natural de crecimiento de las pestañas.
      </li>
      <li>
        <strong>Ojos Más Amplios:</strong> Las pestañas rizadas y levantadas hacen
        que los ojos parezcan más grandes y despiertos.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de usar un rizador
        de pestañas y de aplicar rímel.
      </li>
      <li>
        <strong>Efecto de Mayor Densidad:</strong> Las pestañas levantadas parecen
        más largas y voluminosas.
      </li>
      <li>
        <strong>Sin Dolor:</strong> El tratamiento es no invasivo y generalmente
        indoloro.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Lifting de Pestañas</h2>
    <ul>
      <li>
        <strong>Primera Hora:</strong> Evita mojar las pestañas durante al menos
        24 horas después del tratamiento para permitir que el rizado se fije completamente.
      </li>
      <li>
        <strong>Cuidado de las Pestañas:</strong> Usa productos suaves y evita el
        uso de productos a base de aceite en las pestañas para prolongar la duración
        del tratamiento.
      </li>
      <li>
        <strong>Protección:</strong> Protege las pestañas de la exposición directa
        al sol y fuentes de calor intensas.
      </li>
      <li>
        <strong>Retoques:</strong> Realiza retoques cada 6-8 semanas para mantener
        el rizado y el aspecto deseado.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
