---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Lifting de Pestañas con Tinte- Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="/images/cejas-y-pestanas/lifting-de-pestanas-tinte.avif"
    title="Lifting de Pestañas con Tinte"
    duration="80 min"
    price="$26.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20lifting%20de%20pesta%C3%B1as%20%2B%20tinte."
  >
    <h2>¿Qué es el Lifting de Pestañas con Tinte?</h2>
    <p>
      Es un tratamiento que combina el rizado y levantamiento de las pestañas
      con la aplicación de tinte para lograr una apariencia completa y definida.
      Esta combinación maximiza el efecto de tus pestañas al proporcionar tanto
      curvatura como color, eliminando la necesidad de rímel y simplificando tu
      rutina de belleza.
    </p>

    <h2>Beneficios del Lifting de Pestañas con Tinte</h2>
    <ul>
      <li>
        <strong>Efecto Duradero:</strong> El rizado puede durar entre 6 a 8 semanas,
        y el tinte también puede mantener su color durante un período similar.
      </li>
      <li>
        <strong>Ojos Más Amplios:</strong> Las pestañas rizadas y teñidas hacen que
        los ojos parezcan más grandes y brillantes.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de usar un rizador
        de pestañas y de aplicar rímel diariamente.
      </li>
      <li>
        <strong>Efecto de Mayor Densidad:</strong> Las pestañas levantadas y teñidas
        parecen más largas y voluminosas.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Lifting de Pestañas con Tinte</h2>
    <ul>
      <li>
        <strong>Primera Hora:</strong> Evita mojar las pestañas durante al menos
        24 horas después del tratamiento para permitir que el rizado y el tinte se
        fijen completamente.
      </li>
      <li>
        <strong>Cuidado de las Pestañas:</strong> Usa limpiadores suaves y evita
        productos a base de aceite en las pestañas para prolongar la duración del
        tratamiento.
      </li>
      <li>
        <strong>Protección:</strong> Protege las pestañas de la exposición directa
        al sol y fuentes de calor intensas.
      </li>
      <li>
        <strong>Retoques:</strong> Realiza retoques cada 6-8 semanas para mantener
        el rizado y el color deseado.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
