---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Ondulado de Pestañas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Ondulado de Pestañas"
    duration="60 min"
    price="$20.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20ondulado%20de%20pesta%C3%B1as."
  >
    <h2>¿Qué es el Ondulado de Pestañas?</h2>
    <p>
      Es un tratamiento estético que riza y da forma a las pestañas desde la
      raíz para lograr un efecto de curvatura duradera. La ondulación de
      pestañas se centra en crear una curva más definida y en ofrecer un rizado
      más marcado. Este tratamiento es ideal para quienes desean un aspecto más
      rizado sin necesidad de usar un rizador o aplicar extensiones.
    </p>

    <h2>Beneficios del Ondulado de Pestañas</h2>
    <ul>
      <li>
        <strong>Efecto Duradero:</strong> El rizado dura entre 6 y 8 semanas, proporcionando
        un efecto duradero.
      </li>
      <li>
        <strong>Ojos Más Amplios:</strong> Las pestañas rizadas hacen que los ojos
        parezcan más grandes y despiertos.
      </li>
      <li>
        <strong>Reducción de Productos:</strong> Reduce la necesidad de usar un rizador
        de pestañas y de aplicar rímel, simplificando la rutina de belleza.
      </li>
      <li>
        <strong>Efecto de Mayor Longitud:</strong> Las pestañas rizadas pueden parecer
        más largas y voluminosas.
      </li>
    </ul>

    <h2>Cuidados Posteriores al Ondulado de Pestañas</h2>
    <ul>
      <li>
        <strong>Primera Hora:</strong> Evita mojar las pestañas durante al menos
        24 horas después del tratamiento para permitir que el rizado se fije completamente.
      </li>
      <li>
        <strong>Cuidado de las Pestañas:</strong> Usa limpiadores suaves y evita
        productos a base de aceite en las pestañas para prolongar la duración del
        tratamiento.
      </li>
      <li>
        <strong>Protección:</strong> Protege las pestañas de la exposición directa
        al sol y fuentes de calor intensas.
      </li>
      <li>
        <strong>Retoques:</strong> Realiza retoques cada 6-8 semanas para mantener
        el rizado y la apariencia deseada.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
