---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Perfilado de Cejas + Tinte - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Perfilado de Cejas + Tinte"
    duration="45 min"
    price="$22.900"
  >
    <h2>¿Qué es el Perfilado de Cejas con Tinte?</h2>
    <p>
      Combina el diseño y la depilación de las cejas con la aplicación de tinte
      para mejorar su color y densidad. Este tratamiento no solo define la forma
      de las cejas, sino que también les da un color más intenso y uniforme, que
      puede durar varias semanas
    </p>

    <h2>Beneficios del Perfilado de Cejas con Tinte</h2>
    <ul>
      <li>
        <strong>Perfilado:</strong> Ayuda a definir y esculpir la forma de las cejas
        para mejorar la simetría y la apariencia general del rostro.
      </li>
      <li>
        <strong>Tintura:</strong> Ofrece un color más uniforme y definido, cubriendo
        vellos grises o claros y haciendo que las cejas se vean más completas.
      </li>
      <li>
        <strong>Larga Duración:</strong> Tanto el perfilado como el tinte pueden
        durar de 4 a 6 semanas, reduciendo la necesidad de mantenimiento diario.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de rellenar las cejas
        con lápiz o gel diariamente.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
