---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Planchado de Cejas + Perfilado - Deluxe Beauty",
  description:
    "Transforma tus cejas con nuestro servicio de planchado + perfilado. Disfruta de cejas perfectamente definidas y con una forma duradera, gracias a un tratamiento profesional y personalizado.",
};
---

<Layout options={options}>
  <Service
    img="/images/cejas-y-pestanas/planchado-de-cejas-+-perfilado.avif"
    title="Planchado de Cejas + Perfilado"
    duration="90 min"
    price="$28.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20planchado%20de%20cejas%20%2B%20perfilado."
  >
    <h2>¿Qué es el Planchado de Cejas con Perfilado?</h2>
    <p>
      Combina el perfilado, que se enfoca en dar forma y eliminar el vello no
      deseado, con el planchado o laminado, que utiliza productos químicos para
      alisar y fijar los vellos de las cejas. Este tratamiento proporciona cejas
      bien definidas, voluminosas y duraderas, sin la necesidad de productos de
      maquillaje diarios.
    </p>

    <h2>Beneficios del Planchado con Perfilado de Cejas</h2>
    <ul>
      <li>
        <strong>Perfilado Preciso:</strong> Define y esculpe las cejas, logrando
        una forma simétrica y estilizada.
      </li>
      <li>
        <strong>Planchado o Laminado:</strong> Da un acabado liso y uniforme, eliminando
        el frizz y asegurando que los vellos se mantengan en su lugar.
      </li>
      <li>
        <strong>Larga Duración:</strong> Los resultados del perfilado y el planchado
        pueden durar entre 6 y 8 semanas, reduciendo la necesidad de retoques frecuentes.
      </li>
      <li>
        <strong>Menos Maquillaje:</strong> Reduce la necesidad de aplicar productos
        para cejas diariamente.
      </li>
      <li>
        <strong>Efecto de Mayor Densidad:</strong> Hace que las cejas se vean más
        llenas y voluminosas, ideal para vellos finos o escasos.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Planchado de Cejas con Perfilado</h2>
    <ul>
      <li>
        <strong>Primera Hora:</strong> Evita mojar las cejas durante al menos 24
        horas después del tratamiento para permitir que el planchado se fije completamente.
      </li>
      <li>
        <strong>Cuidado de la Piel:</strong> Usa limpiadores suaves y evita productos
        a base de aceite en las cejas para prolongar la duración del tratamiento.
      </li>
      <li>
        <strong>Protección:</strong> Protege las cejas de la exposición directa al
        sol y fuentes de calor intensas.
      </li>
      <li>
        <strong>Retoques:</strong> Realiza retoques cada 6-8 semanas para mantener
        la forma y el acabado deseado.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
