---

---

<footer>
  <p>Deluxe Beauty © Todos los derechos reservados.</p>
</footer>

<style>
  footer {
    padding: 2rem;
    margin-bottom: 4.5rem;
    text-align: center;
  }

  @media (width >= 768px) {
    footer {
      margin-bottom: 0;
    }
  }
</style>
