---
const { image, title, description, alt } = Astro.props;
---

<article class="reasons__wrap">
  <img src=`${image}` alt=`${alt}` />
  <h3>{title}</h3>
  <p>{description}</p>
</article>

<style>
  .reasons__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    gap: 0.5rem;

    & img {
      width: 44px;
    }

    & p {
      text-align: center;
    }
  }

  @media (width >= 768px) {
    .reasons__wrap {
      & p {
        text-align: left;
        text-wrap: balance;
      }
    }
  }
</style>
