---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Babylights - Deluxe Beauty",
  description:
    "Luce un cabello radiante con nuestro servicio de Babylights. Este tratamiento profesional crea sutiles reflejos y un acabado natural, añadiendo luminosidad y dimensión a tu look con un estilo fresco y elegante.",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Babylights"
    duration="40 min"
    price="$59.900 (S), $69.900 (M), $89.900 (L), $99.900 (XL)"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20babylights."
  >
    <h2>¿Qué son las Babylights?</h2>
    <p>
      Es una técnica de coloración del cabello que busca replicar el efecto de
      las luces naturales que el sol da al cabello. Se caracterizan por ser
      sutiles y muy finas, creando un look extremadamente natural y luminoso.
    </p>
    <h2>Proceso de Aplicación del Babylights</h2>
    <ol>
      <li class="process-title">
        Consulta y Evaluación
        <ul>
          <li>
            <strong>Evaluación del Cabello:</strong> El estilista examina el color
            y la textura del cabello para determinar el mejor enfoque para aplicar
            las babylights.
          </li>
          <li>
            <strong>Discusión de Tono:</strong> Se conversa sobre el tono deseado
            y se selecciona el color adecuado para lograr el efecto deseado.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Color
        <ul>
          <li>
            <strong>Sección de Cabello:</strong> El cabello se divide en secciones
            finas para asegurar que las babylights se apliquen de manera uniforme.
          </li>
          <li>
            <strong>Aplicación de Producto:</strong> Se aplican finas secciones de
            tinte o decolorante en el cabello utilizando técnicas de balayage o foil
            para asegurar que el color se distribuya uniformemente.
          </li>
          <li>
            <strong>Difuminado:</strong> El producto se difunde cuidadosamente para
            evitar líneas de demarcación y asegurar una transición suave entre el
            color base y las babylights.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Procesamiento y Enjuague
        <ul>
          <li>
            <strong>Tiempo de Procesamiento:</strong> El tinte o decolorante se deja
            actuar durante el tiempo recomendado, dependiendo del tono deseado.
          </li>
          <li>
            <strong>Enjuague y Tratamiento:</strong> Se enjuaga el producto y se
            aplican tratamientos acondicionadores para mantener la salud del cabello.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Secado y Estilo
        <ul>
          <li>
            <strong>Secado:</strong> El cabello se seca y se estiliza según el gusto
            del cliente.
          </li>
          <li>
            <strong>Revisión Final:</strong> Se revisa el color para asegurarse de
            que el resultado sea el deseado.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Beneficios de las Babylights</h2>
    <ul>
      <li>
        <strong>Aspecto Natural:</strong> POfrecen un brillo natural y luminoso que
        imita el color del cabello de los niños, dando un aspecto fresco y juvenil.
      </li>
      <li>
        <strong>Mantenimiento Bajo:</strong> Debido a la aplicación sutil, las babylights
        requieren menos retoques que las técnicas de coloración más contrastantes.
      </li>
      <li>
        <strong>Versatilidad:</strong> Se adaptan a una variedad de tonos de cabello
        y estilos, desde rubios hasta castaños.
      </li>
    </ul>

    <h2>Cuidados Posteriores a las Babylights</h2>
    <ol>
      <li class="process-title">
        Uso de Productos Especiales
        <ul>
          <li>
            <strong>Champús y Acondicionadores para Cabello Teñido:</strong> Utiliza
            productos diseñados para mantener el color y proteger el cabello.
          </li>
          <li>
            <strong>Tratamientos Hidratantes:</strong> Aplica mascarillas y acondicionadores
            profundos para mantener el cabello hidratado y saludable.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Protección del Color
        <ul>
          <li>
            <strong>Protección Solar:</strong> Protege el cabello del sol para evitar
            que el color se desvanezca.
          </li>
          <li>
            <strong>Evita el Calor Excesivo:</strong> Usa protectores térmicos y
            limita el uso de herramientas de calor para prevenir daños.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Mantenimiento Regular
        <ul>
          <li>
            <strong>Revisiones:</strong> Programa visitas regulares al estilista
            para mantener el color y realizar ajustes si es necesario.
          </li>
        </ul>
      </li>
    </ol>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
