---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Masaje Nutritivo - Deluxe Beauty",
  description:
    "Revitaliza tu cabello con nuestro Masaje Nutritivo. Este tratamiento profesional proporciona una hidratación profunda y refuerza la salud de tu cabello, dejándolo suave, brillante y lleno de vitalidad. Ideal para un cuidado intensivo y rejuvenecedor.",
};
---

<Layout options={options}>
  <Service
    img="/images/peluqueria/masaje-nutritivo.avif"
    title="Masaje Nutritivo"
    duration="60 min"
    price="$18.900 (S), $18.900 (M), $24.900 (L), $24.900 (XL)"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20masaje%20nutritivo."
  >
    <h2>¿Qué es el Masaje Nutritivo?</h2>
    <p>
      Es un tratamiento que combina técnicas de masaje con la aplicación de
      productos nutritivos para mejorar la salud del cuero cabelludo y del
      cabello. Este tipo de masaje ayuda a fortalecer, revitalizar y mejorar la
      apariencia general del cabello, a la vez que proporciona una experiencia
      relajante.
    </p>

    <h2>Beneficios del Masaje Nutritivo para el Cabello</h2>
    <ul>
      <li>
        <strong>Mejora la Nutrición del Folículo:</strong> Aumenta el flujo sanguíneo
        al cuero cabelludo, lo que ayuda a transportar más nutrientes a los folículos
        pilosos y fomenta un crecimiento saludable del cabello.
      </li>
      <li>
        <strong>Cabello Más Saludable:</strong> Los productos nutritivos aplicados
        durante el masaje proporcionan hidratación y nutrientes esenciales, mejorando
        la textura y la apariencia del cabello.
      </li>
      <li>
        <strong>Suaviza el Cabello:</strong> Los aceites y mascarillas nutritivas
        ayudan a controlar el frizz y a suavizar el cabello, dejándolo más manejable
        y brillante.
      </li>
      <li>
        <strong>Experiencia Relajante:</strong> El masaje en el cuero cabelludo puede
        ser una experiencia muy relajante que ayuda a reducir el estrés y la tensión.
      </li>
      <li>
        <strong>Fortalece los Folículos:</strong> Al mejorar la salud del cuero cabelludo
        y fortalecer los folículos pilosos, el masaje nutritivo puede ayudar a reducir
        la caída del cabello.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
