---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Retoque de Raíz - Deluxe Beauty",
  description:
    "Mantén tu color impecable con nuestro servicio de Retoque de Raíz. Ofrecemos un tratamiento profesional para igualar el color de tus raíces con el resto del cabello, garantizando un acabado uniforme y natural.",
};
---

<Layout options={options}>
  <Service
    img="/images/peluqueria/retoque-de-raiz.avif"
    title="Retoque de Raíz"
    duration="120 min"
    price="$28.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20retoque%20de%20ra%C3%ADz."
  >
    <h2>¿Qué es el Retoque de Raíz?</h2>
    <p>
      Es una técnica de coloración que se utiliza para mantener un color de
      cabello uniforme, especialmente cuando el color original empieza a
      desvanecerse o cuando el cabello crece y se revela el color natural de las
      raíces. Este proceso es esencial para mantener una apariencia pulida. El
      objetivo es igualar el color de las raíces con el resto del cabello para
      lograr un acabado homogéneo y uniforme.
    </p>

    <h2>Beneficios del Retoque de Raíz</h2>
    <ul>
      <li>
        <strong>Mantiene el Color Uniforme:</strong> El retoque de raíz asegura que
        el color del cabello sea consistente de la raíz a las puntas.
      </li>
      <li>
        <strong>Reduce la Necesidad de Coloración Completa:</strong> Solo se aplica
        color en la raíz, lo que puede ser menos dañino y requiere menos tiempo que
        una coloración completa.
      </li>
      <li>
        <strong>Eficiencia en el Tiempo y Costo:</strong> Al tratar sólo las raíces,
        se reduce el tiempo y costo comparado con una coloración total.
      </li>
      <li>
        <strong>Menos Daño al Cabello:</strong> Aplicar color solo en las raíces
        minimiza la exposición al producto químico en el cabello ya tratado, reduciendo
        el daño.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
