---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Retoque de Raíz + Brushing - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Retoque de Raíz + Brushing"
    duration="160 min"
    price="$32.900"
  >
    <h2>¿Qué es el Retoque de Raíz y el Brushing?</h2>
    <p>
      El Retoque de Raíz es una técnica de coloración que mantiene el color de
      cabello uniforme al igualar el color de las raíces con el resto del
      cabello. Por otro lado, el Brushing es una técnica de estilizado que
      utiliza un cepillo para dar forma, volumen y suavidad al cabello, y puede
      realizarse en cabello seco o húmedo.
    </p>

    <h2>Proceso de Aplicación del Retoque de Raíz y el Brushing</h2>
    <ol>
      <li class="process-title">
        Retoque de Raíz
        <ul>
          <li>
            <strong>Consulta y Evaluación:</strong> El estilista evalúa el crecimiento
            del cabello y el color actual para determinar el mejor enfoque para el
            retoque.
          </li>
          <li>
            <strong>Aplicación del Color:</strong> Se aplica color en la raíz para
            igualar el tono con el resto del cabello, asegurando una transición homogénea.
          </li>
          <li>
            <strong>Procesamiento y Enjuague:</strong> El color se deja actuar durante
            el tiempo recomendado, luego se enjuaga y se acondiciona el cabello.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Brushing
        <ul>
          <li>
            <strong>Preparación del Secador y Cepillo:</strong> Se prepara el secador
            y se elige el cepillo adecuado para el estilo deseado.
          </li>
          <li>
            <strong>División del Cabello:</strong> El cabello se divide en secciones
            para facilitar el estilizado.
          </li>
          <li>
            <strong>Secado y Estilizado:</strong> Se utiliza el secador y el cepillo
            simultáneamente para estilizar cada sección de cabello.
          </li>
          <li>
            <strong>Enfriamiento:</strong> Se deja que el cabello se enfríe ligeramente
            para fijar el estilo y reducir el frizz.
          </li>
          <li>
            <strong>Aplicación de Productos Finales:</strong> Se aplican productos
            para fijar el estilo y dar brillo.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Beneficios del Retoque de Raíz y el Brushing</h2>
    <ul>
      <li>
        <strong>Mantiene el Color Uniforme:</strong> El retoque de raíz asegura que
        el color del cabello sea consistente de la raíz a las puntas, reduciendo
        la necesidad de coloración completa.
      </li>
      <li>
        <strong>Reduce la Necesidad de Coloración Completa:</strong> Al aplicar color
        solo en las raíces, se minimiza el daño y el tiempo requerido en comparación
        con una coloración total.
      </li>
      <li>
        <strong>Eficiencia en el Tiempo y Costo:</strong> El retoque de raíz es más
        rápido y económico que una coloración completa.
      </li>
      <li>
        <strong>Menos Daño al Cabello:</strong> Minimiza la exposición al producto
        químico en el cabello ya tratado.
      </li>
      <li>
        <strong>Añade Volumen:</strong> El brushing ayuda a dar cuerpo y plenitud
        al cabello, ideal para cabellos finos o planos.
      </li>
      <li>
        <strong>Acabado Suave:</strong> Proporciona un acabado liso y suave, eliminando
        el frizz y dando un brillo natural.
      </li>
      <li>
        <strong>Estilos Variados:</strong> Permite crear diferentes estilos, desde
        liso pulido hasta ondas y rizos suaves.
      </li>
      <li>
        <strong>Tiempo de Estilizado:</strong> Ofrece un resultado rápido y eficiente,
        ideal para un look profesional en menos tiempo.
      </li>
    </ul>

    <h2>Cuidados Posteriores al Retoque de Raíz y el Brushing</h2>
    <ol>
      <li class="process-title">
        Cuidados Post-Retoque de Raíz
        <ul>
          <li>
            <strong>Uso de Productos Especiales:</strong> Utiliza champús y acondicionadores
            para mantener el color y proteger el cabello.
          </li>
          <li>
            <strong>Protección del Color:</strong> Protege el cabello del sol y evita
            el calor excesivo para mantener el color.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Cuidados Post-Brushing
        <ul>
          <li>
            <strong>Protección del Estilo:</strong> Aplica un spray de fijación ligera
            para mantener el estilo y evitar el frizz.
          </li>
          <li>
            <strong>Uso de Productos Hidratantes:</strong> Aplica tratamientos hidratantes
            para mantener el cabello suave y saludable.
          </li>
        </ul>
      </li>
    </ol>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
