---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Tintura de Cabello - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Tintura de Cabello"
    duration="60 min"
    price="$38.900 (S), $45.900 (M), $50.900 (L), $60.900 (XL)"
  >
    <h2>¿Qué es la Tintura de Cabello?</h2>
    <p>
      Es un proceso que involucra cambiar su color utilizando productos
      químicos. El proceso puede ser simple o complejo, dependiendo del tipo de
      tintura, el resultado deseado y el estado del cabello.
    </p>
    <h2>Proceso de Tintura de Cabello</h2>
    <ol>
      <li class="process-title">
        Consulta y Evaluación
        <ul>
          <li>
            <strong>Consulta Inicial:</strong> Se evalúa el color deseado y el estado
            de tu cabello. Esto ayudará a elegir el tono adecuado y determinar si
            es necesario un tratamiento previo.
          </li>
          <li>
            <strong>Evaluación del Cabello:</strong> Se revisa la textura, el estado
            y el color natural del cabello para planificar el proceso de tintura.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Reunir Materiales
        <ul>
          <li>
            <strong>Tintura:</strong> Seleccionando el color de tinte adecuado. Los
            tintes pueden ser permanentes, semi permanentes o temporales.
          </li>
          <li>
            <strong>Revelador (Peróxido):</strong> Necesario para activar el tinte.
          </li>
          <li>
            <strong>Herramientas:</strong> Pincel, cuenco para mezclar, guantes,
            capas protectoras, y clips para seccionar el cabello.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Preparación del Espacio
        <ul>
          <li>
            <strong>Protección:</strong> Se usa una capa protectora para evitar manchas
            en la piel y la ropa.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Limpieza
        <ul>
          <li>
            <strong>Lavar el Cabello:</strong> Se lava el cabello si es necesario
            para eliminar cualquier residuo de productos, pero en algunos casos,
            se tiñe el cabello seco o ligeramente sucio para mejor absorción.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Protección
        <ul>
          <li>
            <strong>Crema Protectora:</strong> Aplicación de una crema protectora
            en la línea del cabello para evitar que el tinte manche la piel.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Mezcla del Tinte
        <ul>
          <li>
            <strong>Proporciones:</strong> Mezclando el tinte con el revelador en
            un cuenco siguiendo las proporciones indicadas por el fabricante.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Sección del Cabello
        <ul>
          <li>
            <strong>Dividir el Cabello:</strong> el estilista divide el cabello en
            secciones para facilitar una aplicación uniforme. Usando clips para mantener
            las secciones separadas.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Tinte
        <ul>
          <li>
            <strong>Aplicación:</strong> Uso de un pincel para aplicar el tinte en
            las secciones del cabello. Comenzando por las raíces si estás haciendo
            un retoque de color o aplicando el tinte de manera uniforme en todo el
            cabello si es una aplicación completa.
          </li>
          <li>
            <strong>Distribución:</strong> Asegurando de distribuir el tinte uniformemente
            para evitar manchas y una cobertura completa.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Tiempo de Procesamiento
        <ul>
          <li>
            <strong>Dejar Actuar:</strong> Dejando el tinte en el cabello durante
            el tiempo recomendado en las instrucciones del fabricante. El tiempo
            puede variar dependiendo del tipo de tinte y el resultado deseado.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Enjuague
        <ul>
          <li>
            <strong>Enjuague Inicial:</strong> Se enjuaga el cabello con agua tibia
            para eliminar el exceso de tinte.
          </li>
          <li>
            <strong>Champú y Acondicionador:</strong> Se lava el cabello con un champú
            suave y aplica un acondicionador específico para cabello teñido. Esto
            ayuda a sellar el color y mantener la salud del cabello.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado Inicial:</strong> con una toalla para eliminar el exceso
            de agua del cabello.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Cuidados Posteriores a la Tintura de Cabello</h2>
    <ol>
      <li class="process-title">
        Uso de Productos Especiales
        <ul>
          <li>
            <strong>Champús y Acondicionadores para Cabello Teñido:</strong> Utiliza
            productos diseñados para cabello teñido para proteger y mantener el color.
          </li>
          <li>
            <strong>Tratamientos Hidratantes:</strong> Aplica mascarillas y tratamientos
            hidratantes regularmente para mantener la salud del cabello.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Protección del Color
        <ul>
          <li>
            <strong>Protección Solar:</strong> Protege el cabello del sol para evitar
            que el color se desvanezca.
          </li>
          <li>
            <strong>Evita el Calor Excesivo:</strong> Usa protectores térmicos y
            limita el uso de herramientas de calor para prevenir daños.
          </li>
        </ul>
      </li>
    </ol>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
