---
import Button from "@components/Button.astro";
---

<section class="booking">
  <div>
    <h2>Agenda con nosotras</h2>
    <p>
      <strong>¡Es hora de consentirte!</strong> Agenda una cita con nosotros y experimenta
      un servicio de belleza excepcional. ¡No esperes más y asegura tu hora hoy mismo!
    </p>
    <Button
      href="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%C2%A1Hola!%20Necesito%20informaci%C3%B3n%20sobre%20sus%20servicios."
      color="white-black">Agendar</Button
    >
  </div>
</section>

<style>
  .booking {
    background-image: url(/images/pattern-1.avif);
    background-size: contain;
    padding: 2rem 1rem;
    text-align: center;

    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      max-width: 60rem;
      margin: 0 auto;

      & h2,
      p {
        color: var(--white);
        text-wrap: balance;
      }
    }
  }

  @media (width >= 768px) {
    .booking {
      width: 100dvw;
    }
  }
</style>
