---
import Button from "@components/Button.astro";
import FeatureCard from "@components/FeatureCard.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
---

<section class="categories">
  <h2>Tus servicios favoritos</h2>
  <p>
    Descubre una experiencia de belleza personalizada con nuestros servicios. <strong
      >¡Dedícate un momento para sentirte y verte increíble!</strong
    >
  </p>

  <ServiceCategories>
    <FeatureCard
      image="/images/manos-y-pies/portada-manos-y-pies.avif"
      name="Manos y Pies"
      slug="/servicios/manos-y-pies/"
      pos
      >Ver Servicios
    </FeatureCard>
    <FeatureCard
      image="/images/cejas-y-pestanas/laminado-de-cejas.avif"
      name="Cejas y Pestañas"
      slug="/servicios/cejas-y-pestanas/"
      pos
      >Ver Servicios
    </FeatureCard>
    <FeatureCard
      image="/images/peluqueria/brushing.avif"
      name="Peluquería"
      slug="/servicios/peluqueria/"
      pos
      >Ver Servicios
    </FeatureCard>
  </ServiceCategories>
  <Button href="/servicios" color="white-pink">Ver todos los servicios</Button>
</section>

<style>
  .categories {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h2 {
      margin-bottom: 1rem;
    }
  }

  @media (width >= 768px) {
    .categories {
      max-width: 60rem;
      margin: 0 auto;

      & p {
        text-wrap: balance;
      }
    }
  }
</style>
