---
import Button from "@components/Button.astro";
import FeatureCard from "@components/FeatureCard.astro";
import ServiceButton from "@components/ServiceButton.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
---

<section class="categories">
  <h2>Tus servicios favoritos</h2>
  <p>
    Descubre una experiencia de belleza personalizada con nuestros servicios. <strong
      >¡Dedícate un momento para sentirte y verte increíble!</strong
    >
  </p>

  <ServiceCategories>
    <FeatureCard image="/images/service_1.png">
      <ServiceButton
        name="Manos y Pies"
        slug="https://odracirdev.github.io/deluxe-beauty/servicios/manos-y-pies/"
        size
        pos>Ver Servicios</ServiceButton
      >
    </FeatureCard>
    <FeatureCard image="/images/service_2.png">
      <ServiceButton
        name="Cejas y Pestañas"
        slug="https://odracirdev.github.io/deluxe-beauty/servicios/cejas-y-pestanas/"
        size
        pos>Ver Servicios</ServiceButton
      >
      <FeatureCard image="/images/service_3.png">
        <ServiceButton
          name="Peluquería"
          slug="https://odracirdev.github.io/deluxe-beauty/servicios/peluqueria/"
          size
          pos>Ver Servicios</ServiceButton
        >
      </FeatureCard>

      <Button href="https://odracirdev.github.io/deluxe-beauty/servicios"
        >Ver todas</Button
      >
    </FeatureCard>

    <style>
      .categories {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h2 {
          font-size: 2rem;
        }
      }
    </style>
  </ServiceCategories>
</section>
