---
// import SliderItem from "@components/SliderItem.astro";
import Button from "@components/Button.astro";
---

<section class="hero">
  <div class="embla">
    <div class="embla__container">
      <div class="embla__slide slide-1">
        <h2>Título del servicio 1</h2>
        <Button href="#" variant="pink">Botón 1</Button>
      </div>
      <div class="embla__slide slide-2">
        <h2>Título del servicio 2</h2>
        <Button href="#" variant="white">Botón 2</Button>
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    & .embla {
      overflow: hidden;
      height: 400px;

      & .embla__container {
        display: flex;
        height: 100%;

        & .embla__slide {
          flex: 0 0 100%;
          min-width: 0;
          padding: 1.5rem 2rem;
        }

        & .slide-1 {
          background-image: url("/images/manos-y-pies/portada-manos-y-pies.avif");
          background-size: cover;
          background-position: center center;
        }

        & .slide-2 {
          background-image: url("/images/cejas-y-pestanas/laminado-de-cejas.avif");
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay";

  const emblaNode = document.querySelector(".embla") as HTMLElement;
  const options = { loop: false };
  const plugins = [Autoplay()];
  EmblaCarousel(emblaNode, options, plugins);
</script>
