---
// import SliderItem from "@components/SliderItem.astro";
import Button from "@components/Button.astro";
---

<section class="hero">
  <div class="embla">
    <div class="embla__container">
      <div class="embla__slide slide-1">
        <div class="slide__container">
          <h2>Manicure Permanente 2 Amigas</h2>
          <p><strong>$35.900</strong></p>
          <Button
            href="/servicios/promociones/manicure-permanente-amigas"
            color="pink-black">Ver Promoci칩n</Button
          >
        </div>
      </div>
      <div class="embla__slide slide-2">
        <div class="slide__container">
          <h2>Perfilado de Cejas + Lifting de Pesta침as</h2>
          <p><strong>$34.900</strong></p>
          <Button
            href="/servicios/promociones/perfilado-de-cejas-y-lifting-de-pestanas"
            color="pink-black">Ver Promoci칩n</Button
          >
        </div>
      </div>
      <div class="embla__slide slide-3">
        <div class="slide__container">
          <h2>2 Limpiezas Faciales</h2>
          <p><strong>$75.900</strong></p>
          <Button
            href="/servicios/promociones/2-limpiezas-faciales"
            color="pink-black">Ver Promoci칩n</Button
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    & .embla {
      overflow: hidden;
      height: 400px;

      & .embla__container {
        display: flex;
        height: 100%;

        & .embla__slide {
          flex: 0 0 100%;
          min-width: 0;

          & .slide__container {
            height: 100%;
            max-width: 60rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.5rem;
            gap: 1rem;
            margin: 0 auto;
          }

          & h2 {
            color: var(--white);
            text-shadow: #000000 1px 0 10px;
            margin: 0;
          }
          & p {
            color: var(--primary-color);
            width: fit-content;
            padding: 4px;
            border-radius: 4px;
            background: #fffc;
          }
        }

        & .slide-1 {
          background-image: url("/images/promo-manicure-2-amigas.avif");
          background-size: cover;
          background-position: center center;
        }

        & .slide-2 {
          background-image: url("/images/promo-perfilado-de-cejas-lifting-de-de-pestanas.avif");
          background-size: cover;
          background-position: center center;
        }

        & .slide-3 {
          background-image: url("/images/limpiezas/limpiezas-portada.avif");
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay";

  const emblaNode = document.querySelector(".embla") as HTMLElement;
  const options = { loop: false };
  const plugins = [Autoplay()];
  EmblaCarousel(emblaNode, options, plugins);
</script>
