---
import Reasons from "@components/Reasons.astro";
---

<section class="reasons">
  <Reasons
    title="Agenda fácilmente"
    image="/images/calendario.avif"
    alt="Agenda fácilmente"
    description="¡Reservar tu cita nunca ha sido tan sencillo! Solo envíanos un mensaje por WhatsApp, indica el servicio que deseas, y selecciona el día y la hora que mejor te convenga. Te confirmaremos de inmediato y ¡listo! Así de fácil es agendar tu momento de belleza. ¡Nos vemos pronto!"
  />
  <Reasons
    title="Profesional"
    image="/images/corazon.avif"
    alt="Profesional"
    description="En cada servicio, nuestro compromiso es ofrecerte lo mejor. Contamos con un equipo altamente capacitado que se mantiene al día con las últimas tendencias y técnicas de belleza. Nos esforzamos por cuidar cada detalle, utilizando productos de calidad y brindando un trato personalizado que asegura resultados impecables."
  />
  <Reasons
    title="Protocolos de higiene"
    image="/images/estrellas.avif"
    alt="Protocolos de higiene"
    description="Implementamos estrictos protocolos de higiene en cada uno de nuestros servicios, asegurando un ambiente limpio y seguro para ti. Desde la desinfección de herramientas hasta el uso de productos desechables, nos tomamos muy en serio cada detalle para garantizar tu tranquilidad."
  />
</section>

<style>
  .reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    padding: 24px 0;
  }
</style>
