---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Maquillaje Novia (Prueba) - Deluxe Beauty",
  description:
    "Prueba de maquillaje de novia: asegura tu look perfecto con una sesión previa que garantiza durabilidad y adaptación a tu estilo y evento.",
};
---

<Layout options={options}>
  <Service
    img="/images/novias/maquillaje-prueba-novia.avif"
    title="Maquillaje Novia (Prueba)"
    duration="60 min"
    price="$54.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20la%20prueba%20de%20maquillaje%20de%20novia."
  >
    <h2>¿Qué es el Maquillaje de Novia (prueba)?</h2>
    <p>
      El maquillaje de novia (prueba) es una sesión previa al gran día donde se
      realiza una prueba del look deseado. Su objetivo es asegurarse de que la
      novia se sienta cómoda y segura con el estilo que llevará durante su boda,
      creando un maquillaje duradero que resalte su belleza natural y que esté
      en sintonía con el concepto del evento.
    </p>

    <h2>Consejos Adicionales</h2>
    <ul>
      <li>
        <strong>Comunicación Clara:</strong> Es importante hablar sobre tus expectativas,
        mostrar referencias y expresar tus gustos para que el resultado sea exactamente
        lo que imaginas.
      </li>
      <li>
        <strong>Prueba de Durabilidad:</strong> Este maquillaje debe resistir todo
        el día de la boda, así que se probarán productos de larga duración que funcionen
        bien con tu tipo de piel.
      </li>
      <li>
        <strong>Adaptación a la Iluminación:</strong> El maquillaje debe lucir bien
        tanto en fotos como en persona, y debe adaptarse a las condiciones de luz
        del lugar y momento del evento.
      </li>
    </ul>

    <p>
      La prueba de maquillaje de novia es clave para asegurar que el día de tu
      boda luzcas perfecta y sin preocupaciones. A través de este proceso,
      podrás afinar los detalles hasta lograr el look que te haga sentir
      especial y lista para tu gran día.
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
