---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Peinado Novia (Prueba + Día del Matrimonio) - Deluxe Beauty",
  description:
    "Peinado de novia (prueba + día del matrimonio): sesión previa y estilizado completo para un look perfecto y duradero en tu gran día.",
};
---

<Layout options={options}>
  <Service
    img="/images/novias/peinado-dia-del-matrimonio.avif"
    title="Peinado Novia (Prueba + Día del Matrimonio)"
    duration="120 min"
    price="$102.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20el%20pack%20para%20el%20peinado%20de%20novia%20que%20incluye%20la%20prueba%20y%20el%20día%20del%20matrimonio."
  >
    <h2>¿Qué es el Peinado de Novia (Prueba + Día del Matrimonio)?</h2>
    <p>
      El servicio de peinado de novia (prueba + día del matrimonio) incluye una
      sesión de prueba previa y el peinado completo para el día de la boda. La
      prueba te permite experimentar con diferentes estilos y encontrar el
      peinado ideal, mientras que el día del matrimonio se asegura de que tu
      cabello luzca perfecto y se mantenga intacto durante toda la celebración,
      complementando a la perfección tu look de novia.
    </p>

    <h2>Consejos Adicionales</h2>
    <ul>
      <li>
        <strong>Explora Diferentes Opciones:</strong> Durante la prueba, puedes probar
        varios estilos de peinado para ver cuál se ajusta mejor a tu tipo de cabello,
        vestido y temática de la boda.
      </li>
      <li>
        <strong>Durabilidad y Comodidad:</strong> El peinado para el día del matrimonio
        está diseñado para durar toda la jornada, utilizando productos y técnicas
        que aseguren que tu cabello se mantenga perfecto y cómodo desde la ceremonia
        hasta la recepción.
      </li>
      <li>
        <strong>Integración de Accesorios:</strong> Si tienes pensado llevar velo,
        tiara o cualquier otro accesorio, se incorporarán tanto en la prueba como
        el día de la boda, asegurando que se integren armoniosamente con el peinado.
      </li>
    </ul>

    <p>
      El servicio de peinado de novia (prueba + día del matrimonio) te garantiza
      un look impecable y sin estrés, con un peinado que ha sido cuidadosamente
      planeado para realzar tu estilo personal y hacerte sentir especial en cada
      momento de tu boda.
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
