---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Peinado Novia (Dia del Matrimonio) - Deluxe Beauty",
  description:
    "Peinado de novia para el día del matrimonio: estilo duradero y personalizado que complementa tu vestido y maquillaje, garantizando un look impecable.",
};
---

<Layout options={options}>
  <Service
    img="/images/novias/peinado-dia-del-matrimonio.avif"
    title="Peinado Novia (Dia del Matrimonio)"
    duration="80 min"
    price="$58.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20peinado%20de%20novia%20en%20el%20día%20del%20matrimonio."
  >
    <h2>¿Qué es el Peinado de Novia (Día del Matrimonio)?</h2>
    <p>
      El peinado de novia para el día del matrimonio es un servicio
      especializado que asegura que tu cabello luzca perfecto durante toda la
      celebración. Diseñado para complementar tu vestido, maquillaje y
      accesorios, este peinado es creado con técnicas y productos que garantizan
      su durabilidad, para que te veas impecable desde la ceremonia hasta la
      recepción.
    </p>

    <h2>Consejos Adicionales</h2>
    <ul>
      <li>
        <strong>Preparación del Cabello:</strong> Antes del peinado, se prepara tu
        cabello para asegurar que esté en su mejor estado, con productos que lo mantendrán
        saludable y manejable.
      </li>
      <li>
        <strong>Fijación y Durabilidad:</strong> Se utilizan productos de alta calidad
        para asegurar que el peinado permanezca intacto a lo largo del día, resistiendo
        el clima, los movimientos y las fotos.
      </li>
      <li>
        <strong>Estilo Personalizado:</strong> El peinado es diseñado para reflejar
        tu estilo personal, armonizando con el vestido, el maquillaje y la temática
        de la boda para lograr una apariencia única y elegante.
      </li>
    </ul>

    <p>
      El peinado de novia para el día del matrimonio te garantiza un look
      sofisticado y duradero, para que puedas disfrutar de cada momento de este
      día tan especial con confianza y elegancia. Es el toque final que
      complementa tu imagen de novia soñada.
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
