---
import Layout from "@layouts/Layout.astro";
import FeatureCard from "@components/FeatureCard.astro";
import Booking from "@sections/Booking.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
import ServiceButton from "@components/ServiceButton.astro";
import Header from "@components/Header.astro";

const options = {
  title: "Servicios - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <main>
    <section class="categories">
      <Header
        title="Tus servicios favoritos"
        desc="Descubre una experiencia de belleza personalizada con nuestros servicios. ¡Dedícate un momento para sentirte y verte increíble!"
      />

      <ServiceCategories column>
        <FeatureCard image="/images/service_1.png">
          <ServiceButton
            name="Manos y Pies"
            slug="/servicios/manos-y-pies/"
            size>Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_2.png">
          <ServiceButton
            name="Uñas Gel o Acrilicas"
            slug="/servicios/unas-gel-o-acrilicas/"
            size>Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_3.png">
          <ServiceButton name="Peluquería" slug="/servicios/peluqueria/" size
            >Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_2.png">
          <ServiceButton
            name="Cejas y Pestañas"
            slug="/servicios/cejas-y-pestanas/"
            size>Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_1.png">
          <ServiceButton name="Masajes" slug="/servicios/masajes/" size
            >Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_3.png">
          <ServiceButton
            name="Tratamientos Corpolares"
            slug="/servicios/tratamientos-corporales/"
            size>Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_1.png">
          <ServiceButton
            name="Maquillaje y Peinados"
            slug="/servicios/maquillajes-y-peinados/"
            size>Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_2.png">
          <ServiceButton name="Novias" slug="/servicios/novias/" size
            >Ver Servicios</ServiceButton
          >
        </FeatureCard>
        <FeatureCard image="/images/service_3.png">
          <ServiceButton name="Promociones" slug="/servicios/promociones/" size
            >Ver Servicios</ServiceButton
          >
        </FeatureCard>
      </ServiceCategories>

      <Booking />
    </section>
  </main>

  <style>
    .categories {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 4.5rem;
    }
  </style>
</Layout>
