---
import Layout from "@layouts/Layout.astro";
import FeatureCard from "@components/FeatureCard.astro";
import Booking from "@sections/Booking.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
import Header from "@components/Header.astro";

const options = {
  title: "Servicios - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <main>
    <section class="categories">
      <Header
        title="Tus servicios favoritos"
        desc="Descubre una experiencia de belleza personalizada con nuestros servicios. ¡Dedícate un momento para sentirte y verte increíble!"
      />

      <ServiceCategories type>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Manos y Pies"
          slug="/servicios/manos-y-pies/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Uñas Gel o Acrilicas"
          slug="/servicios/unas-gel-o-acrilicas/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Peluquería"
          slug="/servicios/peluqueria/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Cejas y Pestañas"
          slug="/servicios/cejas-y-pestanas/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Masajes"
          slug="/servicios/masajes/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Tratamientos Corpolares"
          slug="/servicios/tratamientos-corporales/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Maquillaje y Peinados"
          slug="/servicios/maquillajes-y-peinados/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Novias"
          slug="/servicios/novias/"
          >Ver Servicios
        </FeatureCard>
        <FeatureCard
          image="/images/manos-y-pies/portada-manos-y-pies.avif"
          name="Promociones"
          slug="/servicios/promociones/"
          >Ver Servicios
        </FeatureCard>
      </ServiceCategories>

      <Booking />
    </section>
  </main>
</Layout>

<style>
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
</style>
