---
import Layout from "@layouts/Layout.astro";
import FeatureCard from "@components/FeatureCard.astro";
import Booking from "@sections/Booking.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
import { categories } from "@data/categories.data";

const options = {
  title: "Servicios - Deluxe Beauty",
  description:
    "Descubre una experiencia de belleza personalizada con nuestros servicios. ¡Dedícate un momento para sentirte y verte increíble!",
};
---

<Layout options={options}>
  <main>
    <section class="categories">
      <header>
        <h2>Tus servicios favoritos</h2>
        <p>
          Descubre una experiencia de belleza personalizada con nuestros
          servicios. ¡Dedícate un momento para sentirte y verte increíble!
        </p>
      </header>
      <ServiceCategories type>
        {
          categories.map(({ img, name, slug }) => (
            <FeatureCard image={img} name={name} slug={slug}>
              Ver Servicios
            </FeatureCard>
          ))
        }
      </ServiceCategories>

      <Booking />
    </section>
  </main>
</Layout>

<style>
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & header {
      width: 100dvw;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(/images/pattern-4.avif);
      background-size: contain;
      padding: 3rem 1rem 6.25rem;

      & h2 {
        color: var(--primary-color);
        margin-bottom: 2rem;
      }

      & p {
        color: var(--white);
      }
    }

    @media (width >= 768px) {
      header {
        & p {
          max-width: 60rem;
          text-wrap: balance;
        }
      }
    }
  }
</style>
