---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Drenaje Linfático - Deluxe Beauty",
  description:
    "Mejora tu bienestar con nuestro servicio de Drenaje Linfático. Este tratamiento profesional ayuda a reducir la retención de líquidos, alivia la hinchazón y estimula la circulación, promoviendo una sensación de ligereza y revitalización.",
};
---

<Layout options={options}>
  <Service
    img="/images/tratamientos-corporales/drenaje-linfatico.avif"
    title="Drenaje Linfático"
    duration="60 min"
    price="$36.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20drenaje%20linf%C3%A1tico."
  >
    <h2>¿Qué es el Drenaje Linfático?</h2>
    <p>
      Es una técnica de masoterapia que se utiliza para estimular el sistema
      linfático y mejorar el flujo de linfa. Se basa en movimientos suaves y
      rítmicos que ayudan a reducir el edema y promover la relajación. Se
      utiliza en diversas condiciones, como el linfedema, postoperatorios y en
      el cuidado de la piel.
    </p>

    <h2>Beneficios del Drenaje Linfático</h2>
    <ul>
      <li>
        <strong>Reducción de Edema:</strong> Ayuda a disminuir la hinchazón en áreas
        afectadas.
      </li>
      <li>
        <strong>Mejora de la Circulación:</strong> Favorece la circulación de la
        linfa y, en consecuencia, la sangre.
      </li>
      <li>
        <strong>Relajación:</strong> PPuede proporcionar alivio del estrés y la tensión.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
