---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Masaje Reafirmante - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Masaje Reafirmante"
    duration="60 min"
    price="$35.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20masaje%20reafirmante."
  >
    <h2>¿Qué es el Masaje Reafirmante?</h2>
    <p>
      Es una técnica terapéutica diseñada para mejorar la firmeza y elasticidad
      de la piel, así como para tonificar y reafirmar los músculos subyacentes.
      Este tipo de masaje es especialmente beneficioso para combatir la flacidez
      de la piel y mejorar la apariencia general del cuerpo, promoviendo una
      figura más tonificada y esculpida.
    </p>

    <h2>Beneficios del Masaje Reafirmante</h2>
    <ul>
      <li>
        <strong>Mejora de la Elasticidad de la Piel:</strong> Ayuda a mejorar la
        elasticidad y firmeza de la piel, haciéndola lucir más estirada y tonificada.
      </li>
      <li>
        <strong>Estimulación de la Circulación:</strong> Estimula la circulación
        sanguínea y linfática, lo que ayuda en el transporte de nutrientes y la eliminación
        de toxinas.
      </li>
      <li>
        <strong>Apariencia de la Piel:</strong> Puede reducir la apariencia de la
        celulitis al mejorar la textura de la piel y descomponer los depósitos de
        grasa subcutánea.
      </li>
      <li>
        <strong>Tonificación Muscular:</strong> Contribuye a tonificar los músculos
        subyacentes, mejorando el contorno y la firmeza del cuerpo.
      </li>
      <li>
        <strong>Estimulación del Metabolismo:</strong> Estimula el metabolismo local,
        lo que puede ayudar en la quema de grasas y la reducción de volumen.
      </li>
      <li>
        <strong>Relajación y Bienestar:</strong> Ofrece una sensación de relajación
        y bienestar, reduciendo el estrés y la tensión muscular.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
