---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Kapping Baño de Gel Tradicional - Deluxe Beauty",
  description:
    "Obtén un acabado brillante y duradero con nuestro servicio de Kapping Baño de Gel Tradicional. Ideal para uñas elegantes y resistentes, con un tratamiento profesional que garantiza una apariencia impecable.",
};
---

<Layout options={options}>
  <Service
    img="/images/manos-y-pies/kapping-tradicional.avif"
    title="Kapping Baño de Gel o Acrílico Tradicional"
    duration="60 min"
    price="$24.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20kapping%20ba%C3%B1o%20de%20gel%20o%20acr%C3%ADlico%20tradicional."
  >
    <h2>¿Qué es Kapping o Baño de Gel o Acrílico?</h2>
    <p>
      Es un tratamiento popular que consiste en aplicar una capa de gel o
      acrílico sobre la uña natural. Es perfecto para las uñas que se quiebran
      ya que el sistema las protege y pueden crecer fácilmente.
    </p>
    <h2>Proceso del Kapping o Baño de Gel o Acrílico</h2>
    <ol>
      <li class="process-title">
        Preparación
        <ul>
          <li>
            <strong>Limpieza:</strong> Asegurando de que las uñas estén limpias y
            libres de esmalte, aceites o residuos.
          </li>
          <li>
            <strong>Cuidado de Cutículas:</strong> Se realiza una ligera manicura,
            empujando las cutículas hacia atrás, y limar la superficie de las uñas
            si es necesario.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Gel o Acrílico
        <ul>
          <li>
            <strong>Baño de Gel:</strong> En algunos casos, se puede utilizar una
            solución de gel en la que se sumergen las uñas durante un tiempo específico.
            En otros casos, el gel puede aplicarse directamente en las uñas.
          </li>
          <li>
            <strong>Secado:</strong> Si el gel requiere secado bajo una lámpara UV/LED.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Beneficios del Kapping o Baño de Gel o Acrílico</h2>
    <ul>
      <li>
        <strong>Mayor Durabilidad:</strong> Protege el esmalte o el diseño, ayudando
        a prolongar la duración del trabajo de manicura.
      </li>
      <li>
        <strong>Prevención del Levantamiento:</strong> El capping ayuda a evitar
        que el esmalte se levante de los bordes de la uña.
      </li>
      <li>
        <strong>Acabado Brillante:</strong> Proporciona un acabado brillante y profesional,
        mejorando el aspecto general de las uñas.
      </li>
      <li>
        <strong>Protección de Decoraciones:</strong> Encapsula decoraciones para
        evitar que se despeguen o se dañen.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
