---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Tradicional + Pedicure Permanente - Deluxe Beauty",
  description:
    "Consigue un look completo con nuestro servicio de Manicure Tradicional combinado con Pedicure Permanente. Disfruta de unas manos perfectamente cuidadas con un acabado duradero en tus pies, todo con un tratamiento profesional y elegante.",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Tradicional + Pedicure Permanente"
    duration="90 min"
    price="$32.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20manicure%20tradicional%20%2B%20pedicure%20tradicional."
  >
    <h2>¿Qué es el Manicure Tradicional y el Pedicure Permanente?</h2>
    <p>
      El manicure tradicional implica la limpieza, el cuidado y el esmaltado de
      las uñas utilizando esmalte convencional que no requiere curado con luz UV
      o LED. Por otro lado, el pedicure permanente es una técnica que mantiene
      tus uñas de los pies en excelente estado durante varias semanas sin
      necesidad de retoques constantes.
    </p>

    <h2>
      Proceso de Aplicación del Manicure Tradicional y el Pedicure Permanente
    </h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas y Pies
        <ul>
          <li>
            <strong>Desmaquillado:</strong> Se quita cualquier esmalte viejo con
            quitaesmalte en manos y pies.
          </li>
          <li>
            <strong>Baño de Manos:</strong> Puedes remojar las manos en agua tibia
            con jabón o una solución de sales para suavizar las cutículas y la piel
            alrededor de las uñas.
          </li>
          <li>
            <strong>Limpieza y Exfoliación:</strong> Se comienza con una limpieza
            de los pies, eliminando cualquier resto de esmalte anterior y exfoliando
            la piel muerta.
          </li>
          <li>
            <strong>Corte y Forma:</strong> Las uñas se cortan y se les da forma
            adecuada en manos y pies. Se empujan las cutículas y se retira cualquier
            exceso de piel.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            <strong>Base:</strong> Se aplica una capa base en manos y pies para proteger
            las uñas y mejorar la adhesión del esmalte. Esto también ayuda a prevenir
            manchas y decoloración de la uña natural.
          </li>
          <li>
            <strong>Esmalte de Color:</strong>
            <ul>
              <li>
                En el manicure tradicional, se aplican una o dos capas de
                esmalte de color, dejando secar entre capa y capa para evitar
                burbujas.
              </li>
              <li>
                En el pedicure permanente, se aplica el esmalte de gel en capas
                finas, curando cada capa bajo una lámpara UV o LED.
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="process-title">
        Capa Superior
        <ul>
          <li>
            <strong>Capa Superior:</strong>
            <ul>
              <li>
                En el manicure tradicional, se aplica una capa superior (top
                coat) para sellar el color y proporcionar un acabado brillante.
              </li>
              <li>
                En el pedicure permanente, se aplica una capa superior de gel
                que se cura bajo la lámpara, dando un acabado brillante y
                protegiendo el color.
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado:</strong>
            <ul>
              <li>
                El esmalte tradicional se seca al aire, lo que puede llevar más
                tiempo en comparación con los esmaltes de gel.
              </li>
              <li>
                El esmalte de gel en el pedicure permanente se seca
                instantáneamente bajo la lámpara, evitando el riesgo de que se
                estropee.
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Manicure Tradicional y el Pedicure Permanente</h2>
    <ul>
      <li>
        <strong>Variedad de Colores y Acabados:</strong> El manicure tradicional
        ofrece una amplia gama de colores y acabados, mientras que el pedicure permanente
        mantiene un acabado brillante y atractivo durante el tiempo que lleva puesto.
      </li>
      <li>
        <strong>Durabilidad:</strong> El pedicure permanente puede durar entre 2
        y 4 semanas sin desconchamientos, ideal para quienes buscan un acabado duradero.
      </li>
      <li>
        <strong>Facilidad de Aplicación y Remoción:</strong> El manicure tradicional
        es fácil de aplicar y retirar con quitaesmalte, mientras que el pedicure
        permanente requiere un removedor de gel especializado.
      </li>
      <li>
        <strong>Secado Rápido:</strong> El esmalte de gel se seca instantáneamente
        bajo la lámpara, evitando el riesgo de que se estropee, mientras que el esmalte
        tradicional puede requerir más tiempo de secado al aire.
      </li>
    </ul>

    <h2>
      Cuidados Posteriores del Manicure Tradicional y el Pedicure Permanente
    </h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Mantén las manos y pies hidratados con cremas
        y aceites para cutículas. Esto ayudará a evitar que la piel se seque y agriete.
      </li>
      <li>
        <strong>Protección:</strong> Usa guantes al hacer tareas que impliquen exposición
        a detergentes o productos químicos para el manicure tradicional. Para el
        pedicure permanente, asegúrate de mantener la piel hidratada y evitar el
        uso excesivo de agua.
      </li>
      <li>
        <strong>Quitar el esmalte correctamente:</strong> Para el pedicure permanente,
        utiliza un removedor de gel especializado y sigue las instrucciones para
        evitar dañar tus uñas o piel.
      </li>
    </ul>

    <p>
      <em
        >Recuerda que es importante cuidar tus manos y pies después de cada
        tratamiento para mantener los resultados y disfrutar de unas uñas
        impecables.</em
      >
    </p>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
