---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Tradicional para Niñas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Tradicional para Niñas"
    duration="20 min"
    price="$10.900"
  >
    <h2>¿Qué es el Manicure Tradicional para Niñas?</h2>
    <p>
      Es un servicio diseñado especialmente para las más pequeñas, que implica
      la limpieza, cuidado y esmaltado de las uñas con colores divertidos y
      seguros. Se utiliza esmalte convencional que no requiere curado con luz UV
      o LED, manteniendo la experiencia segura y adecuada para niñas.
    </p>

    <h2>Proceso de Aplicación del Manicure Tradicional para Niñas</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Desmaquillado:</strong> Se quita cualquier esmalte viejo con
            un quitaesmalte suave, adecuado para las uñas delicadas de las niñas.
          </li>
          <li>
            <strong>Baño de Manos:</strong> Las manitas se remojan en agua tibia
            con jabón suave o una solución especial que suaviza las cutículas y la
            piel alrededor de las uñas, convirtiendo el proceso en una experiencia
            relajante y agradable.
          </li>
          <li>
            <strong>Corte y Forma:</strong> Se cortan y se les da forma a las uñas
            con una lima suave o cortauñas, manteniendo un tamaño y forma adecuados
            para las pequeñas manos.
          </li>
          <li>
            <strong>Cuidado de Cutículas:</strong> Se empujan las cutículas suavemente
            con un palito de naranjo o un empujador de cutículas, asegurando un proceso
            seguro y delicado.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            <strong>Base:</strong> Se aplica una capa base especial para proteger
            las uñas y mejorar la adhesión del esmalte. Esta capa también ayuda a
            mantener la uña natural saludable.
          </li>
          <li>
            <strong>Esmalte de Color:</strong> Se aplican una o dos capas de esmalte
            en colores vibrantes y divertidos, dejando secar entre capa y capa para
            un acabado perfecto.
          </li>
          <li>
            <strong>Capa Superior:</strong> Se aplica una capa superior (top coat)
            para sellar el color, proporcionar un acabado brillante y extender la
            duración del manicure.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado al Aire:</strong> El esmalte tradicional se seca al aire.
            Es importante que la niña espere a que el esmalte esté completamente
            seco antes de jugar o usar las manos.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Manicure Tradicional para Niñas</h2>
    <ul>
      <li>
        <strong>Colores Divertidos y Seguros:</strong> Una amplia gama de colores
        suaves y brillantes que encantan a las niñas, todos seguros y diseñados específicamente
        para ellas.
      </li>
      <li>
        <strong>Experiencia Divertida:</strong> El proceso de manicure se convierte
        en un momento especial y divertido, ideal para fiestas de niñas o como una
        actividad de madre e hija.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Manicure Tradicional para Niñas</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Mantén las manos y cutículas hidratadas con
        cremas suaves y aceites para cutículas, asegurando que la piel de las niñas
        se mantenga suave y saludable.
      </li>
      <li>
        <strong>Protección:</strong> Asegúrate de que la niña evite jugar con agua
        o productos químicos fuertes para mantener el esmalte y las manos en perfectas
        condiciones.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
