---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Tradicional - Deluxe Beauty",
  description:
    "Consigue unas uñas elegantes y bien cuidadas con nuestro Manicure Tradicional. Un servicio clásico y profesional que ofrece un acabado impecable para mantener tus manos siempre a la moda.",
};
---

<Layout options={options}>
  <Service
    img="/images/manos-y-pies/manicure-tradicional.avif"
    title="Manicure Tradicional"
    duration="30 min"
    price="$14.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20manicure%20tradicional."
  >
    <h2>¿Qué es el Manicure Tradicional?</h2>
    <p>
      Implica la limpieza, el cuidado y el esmaltado de las uñas utilizando
      esmalte convencional que no requiere curado con luz UV o LED.
    </p>

    <h2>Proceso de Aplicación del Manicure Tradicional</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Desmaquillado:</strong> Se quita cualquier esmalte viejo con
            quitaesmalte.
          </li>
          <li>
            <strong>Baño de Manos:</strong> Puedes remojar las manos en agua tibia
            con jabón o una solución de sales para suavizar las cutículas y la piel
            alrededor de las uñas.
          </li>
          <li>
            <strong>Corte y Forma:</strong> Se cortan y se les da forma a las uñas
            con una lima o cortauñas, según tu preferencia.
          </li>
          <li>
            <strong>Cuidado de Cutículas:</strong> Se empujan las cutículas suavemente
            con un palito de naranjo o un empujador de cutículas y se pueden recortar
            si es necesario.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            <strong>Base:</strong> Se aplica una capa base para proteger las uñas
            y mejorar la adhesión del esmalte. Esto también ayuda a prevenir manchas
            y decoloración de la uña natural.
          </li>
          <li>
            <strong>Esmalte de Color:</strong> Se aplican una o dos capas de esmalte
            de color, dejando secar entre capa y capa para evitar que se formen burbujas
            o se estropee.
          </li>
          <li>
            <strong>Capa Superior:</strong> Se aplica una capa superior (top coat)
            para sellar el color, proporcionar un acabado brillante y extender la
            duración del manicure.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado al Aire:</strong> El esmalte tradicional se seca al aire.
            Puede llevar más tiempo en comparación con los esmaltes de gel, y es
            importante evitar tocar o usar las manos hasta que esté completamente
            seco.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Manicure Tradicional</h2>
    <ul>
      <li>
        <strong>Variedad de Colores y Acabados:</strong> Ofrece una amplia gama de
        colores y acabados, desde mates hasta metálicos y brillantes.
      </li>
      <li>
        <strong>Facilidad de Aplicación y Remoción:</strong> Es fácil de aplicar
        y retirar en comparación con los esmaltes de gel o acrílicos. Se usa quitaesmalte
        para remover el esmalte.
      </li>
    </ul>
    <h2>Cuidados Posteriores del Manicure Tradicional</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Mantén las manos y las cutículas hidratadas
        con cremas y aceites para cutículas para evitar que se sequen y agrieten.
      </li>
      <li>
        <strong>Protección:</strong> Usa guantes al hacer tareas que impliquen exposición
        a detergentes o productos químicos para evitar el deterioro del esmalte y
        la sequedad de la piel.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
