---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Masculina - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Masculina"
    duration="30 min"
    price="$12.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20manicure%20masculino."
  >
    <h2>¿Qué es la Manicure Masculina?</h2>
    <p>
      Es un servicio de cuidado de manos diseñado específicamente para abordar
      las necesidades y preocupaciones comunes que pueden tener los hombres,
      como la piel seca, las uñas quebradizas y las cutículas descuidadas. El
      tratamiento se realiza de manera que se adapte a la estética y
      preferencias masculinas, enfocándose en la comodidad y el mantenimiento de
      las manos.
    </p>
    <h2>Proceso de Aplicación del Pedicure para Hombres</h2>
    <ol>
      <li class="process-title">
        Preparación
        <ul>
          <li>
            <strong>Limpieza:</strong> Se desinfectan y limpian las manos, eliminando
            cualquier residuo o suciedad.
          </li>
          <li>
            <strong>Remojo:</strong> Las manos se sumergen en un baño de agua tibia
            con aceites o productos especiales para suavizar la piel y las cutículas,
            lo que también ofrece un momento de relajación.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Cuidado de las Uñas y Cutículas
        <ul>
          <li>
            <strong>Corte y Forma:</strong> Se cortan las uñas a la longitud deseada
            y se les da forma con una lima, manteniendo un borde limpio y recto para
            evitar uñas encarnadas.
          </li>
          <li>
            <strong>Cuidado de Cutículas:</strong> Se empujan y recortan las cutículas
            de manera cuidadosa, utilizando herramientas especializadas para evitar
            cualquier daño a la piel circundante.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Exfoliación y Eliminación de Piel Muerta
        <ul>
          <li>
            <strong>Exfoliación:</strong> Se aplica un exfoliante suave para eliminar
            las células muertas y suavizar la piel, con especial atención a las zonas
            más secas o ásperas.
          </li>
          <li>
            <strong>Eliminación de Piel Muerta:</strong> Se retira la piel dura o
            reseca, especialmente alrededor de las uñas y en las palmas, utilizando
            técnicas y productos específicos.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Hidratación
        <ul>
          <li>
            <strong>Aplicación de Crema:</strong> Se aplica una crema hidratante
            o aceite para cutículas que suaviza y nutre la piel, ayudando a mantener
            las manos hidratadas y preveniendo la sequedad.
          </li>
          <li>
            <strong>Masaje (Opcional):</strong> Algunos servicios incluyen un masaje
            relajante de manos que mejora la circulación y alivia la tensión acumulada.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Secado y Acabado
        <ul>
          <li>
            <strong>Secado:</strong> Las manos se secan completamente para asegurar
            que no quede humedad, lo que previene problemas como la formación de
            hongos.
          </li>
          <li>
            <strong>Pulido (Opcional):</strong> Aunque no es común en los hombres,
            se puede aplicar un pulido para un acabado limpio y brillante en las
            uñas.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Manicure para Hombres</h2>
    <ul>
      <li>
        <strong>Salud y Bienestar:</strong> Ayuda a prevenir problemas comunes como
        uñas encarnadas, cutículas inflamadas y piel seca, promoviendo la salud general
        de las manos.
      </li>
      <li>
        <strong>Comodidad:</strong> El tratamiento puede aliviar la incomodidad causada
        por el desgaste diario, mejorando la textura y flexibilidad de la piel.
      </li>
      <li>
        <strong>Estética:</strong> Mantiene las manos bien cuidadas y presentables,
        lo que es importante para una apariencia pulida y profesional.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
