---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Tradicional para Niñas - Deluxe Beauty",
  description:
    "Haz que las manos de las más pequeñas brillen con nuestro Manicure Tradicional para Niñas. Un servicio suave y personalizado que proporciona un acabado elegante y cuidado, adaptado para las delicadas uñas infantiles.",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Tradicional para Niñas"
    duration="20 min"
    price="$10.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20manicure%20tradicionla%20para%20ni%C3%B1as."
  >
    <h2>¿Qué es el Manicure Tradicional para Niñas?</h2>
    <p>
      Es un tratamiento de belleza que se enfoca en el cuidado y embellecimiento
      de las uñas de las manos de las niñas. Por lo general, incluye:
    </p>
    <ul>
      <li>Limpieza y preparación de las uñas.</li>
      <li>Corte y modelado de las uñas.</li>
      <li>Esmerilado para suavizar las uñas.</li>
      <li>Aplicación de una crema hidratante para las cutículas.</li>
      <li>
        Pintura de las uñas con esmalte, generalmente en colores vivos y
        divertidos
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
