---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Permanente Pro - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Permanente Pro (con Diseños)"
    duration="90 min"
    price="$26.900"
  >
    <h2>¿Qué es el Manicure Permanente con Diseños?</h2>
    <p>
      Es un proceso en el que se aplican adornos y patrones artísticos en las
      uñas, ya sea con esmalte de gel, o técnicas de decoración. Estos diseños
      pueden incluir todo, desde simples rayas y puntos hasta patrones
      intrincados y efectos especiales.
    </p>
    <h2>Proceso de Aplicación del Manicure Permanente con Diseños</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Limpieza:</strong>Se quita cualquier esmalte previo y se
            limpia la superficie de las uñas.
          </li>
          <li>
            <strong>Corte y Forma:</strong>
            Las uñas se cortan y se les da forma. También se preparan las cutículas
            y se lija ligeramente la superficie de las uñas para mejorar la adhesión
            del esmalte.
          </li>
          <li>
            <strong>Aplicación de Base:</strong>Se aplica una capa base para
            proteger las uñas y ayudar a que el esmalte y los diseños se
            adhieran mejor.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Diseño
        <ul>
          <li>
            <strong>Esmalte Base:</strong>
            Se aplica una capa de esmalte base en el color que servirá como fondo
            para el diseño.
          </li>
          <li>
            <strong>Creación del Diseño:</strong>
            <ul>
              <li>
                <strong>Técnicas Manuales:</strong> Se pueden usar pinceles finos,
                dotting tools (herramientas de puntos), y cintas para crear diseños
                a mano alzada.
              </li>
              <li>
                <strong>Stickers y Plantillas:</strong> Para diseños más precisos
                y rápidos, se pueden usar stickers, plantillas o sellos de estampado.
              </li>
              <li>
                <strong>Técnicas Especiales:</strong> Incluyen técnicas como el marmoleado,
                la esponja para degradados, y la aplicación de polvo de esmalte para
                efectos cromados o holográficos.
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="process-title">
        Sellado del Diseño
        <ul>
          <li>
            <strong>Capa Superior:</strong> Se aplica una capa superior (top coat)
            para sellar el diseño y proporcionar un acabado brillante y duradero.
            En el caso de esmaltes de gel, se cura bajo una lámpara UV o LED.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado al Aire o Bajo Luz:</strong>
            Dependiendo del tipo de esmalte utilizado, el diseño se secará al aire
            o bajo una lámpara UV/LED.
          </li>
        </ul>
      </li>
    </ol>
    <h2>Ventajas del Manicure Permanente con Diseños</h2>
    <ul>
      <li>
        <strong>Personalización:</strong> Permite expresar tu estilo y creatividad
        con diseños únicos.
      </li>
      <li>
        <strong>Variedad:</strong> Puedes experimentar con diferentes colores, técnicas
        y patrones para adaptarse a cualquier ocasión.
      </li>
      <li>
        <strong>SDiversión:</strong> Es una forma divertida de cambiar tu look y
        mantener tus uñas interesantes.
      </li>
    </ul>
    <h2>Cuidados Posteriores del Manicure Permanente con Diseños</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Mantén tus uñas y cutículas hidratadas para
        evitar que se sequen o agrieten.
      </li>
      <li>
        <strong>Protección:</strong> Usa guantes al realizar tareas que impliquen
        exposición a productos químicos para proteger los diseños.
      </li>
      <li>
        <strong>Mantenimiento:</strong> Revisa y retoca cualquier diseño que se esté
        desgastando o dañando para mantener tus uñas perfectas.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
