---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Rusa Tradicional - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Rusa + Esmaltado Tradicional"
    duration="45 min"
    price="$28.900"
  >
    <h2>¿Qué es la Manicure Rusa?</h2>
    <p>
      Es un estilo de manicure que se caracteriza por su atención al detalle y
      la precisión en el tratamiento de las cutículas y las uñas. Se enfoca en
      la eliminación meticulosa de la piel muerta y la creación de una forma
      perfecta para las uñas.
    </p>
    <h2>Proceso de Aplicación de la Manicure Rusa</h2>
    <ol>
      <li class="process-title">
        Preparación de las Uñas
        <ul>
          <li>
            <strong>Desmaquillado:</strong> Se retira el esmalte anterior con quitaesmalte.
          </li>
          <li>
            <strong>Limpieza:</strong> Se limpia la superficie de las uñas para eliminar
            cualquier residuo de productos anteriores.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Cuidado de Cutículas y Uñas
        <ul>
          <li>
            <strong>Remojo:</strong>En algunos casos, se remojan las manos en
            agua tibia para suavizar la piel, aunque en el manicure ruso se
            tiende a evitar el remojo excesivo para mantener la piel de las
            cutículas en mejor estado.
          </li>
          <li>
            <strong>Eliminación de Cutículas:</strong> Se utilizan herramientas especializadas,
            como un empujador de cutículas y fresas de manicura, para retirar las
            cutículas muertas y la piel alrededor de la uña. La técnica es muy precisa
            y se realiza con gran cuidado para evitar dañar la uña o la piel circundante.
          </li>
          <li>
            <strong>Lijado y Pulido:</strong> Se lija suavemente la superficie de
            la uña para eliminar imperfecciones y mejorar la adherencia del esmalte.
            Las fresas o limas específicas pueden utilizarse para alisar y dar forma
            a la uña.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            <strong>Capa Base:</strong> Se aplica una capa base para proteger la
            uña natural y preparar la superficie para el esmalte.
          </li>
          <li>
            <strong>Esmalte de Color:</strong> Se aplican capas finas de esmalte
            de color, asegurándose de que cada capa se seque completamente antes
            de aplicar la siguiente.
          </li>
          <li>
            <strong>Capa Superior:</strong> Se aplica una capa superior (top coat)
            para sellar el color y proporcionar un acabado brillante y duradero.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado al Aire o Bajo Luz:</strong> Dependiendo del tipo de esmalte
            utilizado, el diseño se secará al aire o bajo una lámpara UV/LED si se
            utiliza esmalte de gel.
          </li>
        </ul>
      </li>
    </ol>
    <h2>Ventajas de la Manicure Rusa</h2>
    <ul>
      <li>
        <strong>Precisión:</strong> La técnica se enfoca en un acabado extremadamente
        preciso y detallado, logrando un look muy limpio y profesional.
      </li>
      <li>
        <strong>Larga Duración:</strong> La eliminación meticulosa de cutículas y
        la preparación adecuada de la superficie de la uña pueden contribuir a una
        mayor durabilidad del esmalte.
      </li>
      <li>
        <strong>Acabado Impecable:</strong> Se logra un acabado muy pulido y bien
        definido, con una apariencia natural y elegante.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
