---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Manicure Tradicional + Pedicure Tradicional - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Manicure Tradicional + Pedicure Tradicional"
    duration="60 min"
    price="$26.900"
  >
    <h2>¿Qué son el Manicure y Pedicure Tradicional?</h2>
    <p>
      El Manicure Tradicional implica la limpieza, el cuidado y el esmaltado de
      las uñas utilizando esmalte convencional que no requiere curado con luz UV
      o LED. El Pedicure Tradicional se enfoca en la limpieza y embellecimiento
      de los pies y las uñas de los pies utilizando técnicas y productos
      similares, también sin requerir luz UV o LED.
    </p>

    <h2>Proceso de Aplicación del Manicure y Pedicure Tradicional</h2>
    <ol>
      <li class="process-title">
        Preparación
        <ul>
          <li>
            <strong>Desmaquillado:</strong> Se quita cualquier esmalte viejo con
            quitaesmalte, tanto en las manos como en los pies.
          </li>
          <li>
            <strong>Baño de Manos y Remojo de Pies:</strong> Las manos se remojan
            en agua tibia con jabón o una solución de sales, mientras que los pies
            se sumergen en un baño de agua tibia con sales o productos especiales
            para suavizar la piel y las cutículas.
          </li>
          <li>
            <strong>Corte y Forma de Uñas:</strong> Se cortan y se les da forma a
            las uñas tanto de manos como de pies con una lima o cortauñas, según
            la preferencia.
          </li>
          <li>
            <strong>Cuidado de Cutículas:</strong> Las cutículas de las manos y pies
            se empujan suavemente con un palito de naranjo o un empujador de cutículas,
            y se pueden recortar si es necesario. Las cutículas duras en los pies
            pueden ser suavizadas con productos específicos antes de empujarlas.
          </li>
          <li>
            <strong>Eliminación de Callosidades:</strong> En el pedicure, si hay
            callos o piel dura, se usan piedras pómez, limas o raspadores para eliminarlos
            suavemente.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Aplicación de Esmalte
        <ul>
          <li>
            <strong>Base:</strong> Se aplica una capa base en las uñas de manos y
            pies para protegerlas y mejorar la adhesión del esmalte.
          </li>
          <li>
            <strong>Esmalte de Color:</strong> Se aplican una o dos capas de esmalte
            de color en las uñas de manos y pies, dejando secar entre capa y capa.
          </li>
          <li>
            <strong>Capa Superior:</strong> Se aplica una capa superior (top coat)
            para sellar el color y proporcionar un acabado brillante.
          </li>
        </ul>
      </li>

      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado al Aire:</strong> El esmalte en manos y pies se seca al
            aire. Es importante evitar tocar o usar las manos y pies hasta que el
            esmalte esté completamente seco.
          </li>
        </ul>
      </li>
    </ol>

    <h2>Ventajas del Manicure y Pedicure Tradicional</h2>
    <ul>
      <li>
        <strong>Variedad de Colores y Acabados:</strong> Ambos servicios ofrecen
        una amplia gama de colores y acabados para personalizar tu estilo.
      </li>
      <li>
        <strong>Facilidad de Aplicación y Remoción:</strong> El esmalte tradicional
        es fácil de aplicar y retirar en comparación con los esmaltes de gel o acrílicos.
        Se usa quitaesmalte para removerlo.
      </li>
      <li>
        <strong>Estética y Cuidado:</strong> Además de embellecer, el pedicure incluye
        la eliminación de callosidades y la hidratación de la piel, lo que contribuye
        a la salud general de los pies.
      </li>
    </ul>

    <h2>Cuidados Posteriores del Manicure y Pedicure Tradicional</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Mantén manos y pies hidratados utilizando cremas
        y aceites específicos para cutículas y pies. Aplica crema diariamente para
        evitar la piel seca.
      </li>
      <li>
        <strong>Protección:</strong> Usa guantes al hacer tareas que impliquen exposición
        a detergentes o productos químicos para evitar el deterioro del esmalte en
        las manos. Además, usa calzado adecuado para evitar problemas en las uñas
        y pies, y que permita a tus pies respirar.
      </li>
      <li>
        <strong>Evita el Agua Excesiva:</strong> Evita mojar las manos y los pies
        durante períodos prolongados inmediatamente después del manicure y pedicure
        para asegurar que el esmalte se adhiera bien.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
