---
import Layout from "@layouts/Layout.astro";
import Service from "@layouts/Service.astro";

const options = {
  title: "Pedicure Tradicional - Deluxe Beauty",
  description:
    "Consigue unos pies bien cuidados y elegantes con nuestro Pedicure Tradicional. Un servicio profesional que ofrece un acabado clásico y confortable, ideal para mantener tus uñas y piel en perfecto estado.",
};
---

<Layout options={options}>
  <Service
    img="https://placehold.co/390x340"
    title="Pedicure Tradicional"
    duration="30 min"
    price="$16.900"
    booking="https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20pedicure%20tradicional."
  >
    <h2>¿Qué es el Pedicure Tradicional?</h2>
    <p>
      Es un proceso que se enfoca en la limpieza y el embellecimiento de los
      pies y las uñas de los pies utilizando técnicas y productos que no
      requieren curado con luz UV o LED. Se realiza tanto para mejorar la
      apariencia como para mantener la salud general de los pies.
    </p>
    <h2>Proceso de Aplicación del Pedicure Tradicional</h2>
    <ol>
      <li class="process-title">
        Preparación
        <ul>
          <li>
            <strong>Desmaquillado:</strong> Se quita cualquier esmalte viejo con
            quitaesmalte.
          </li>
          <li>
            <strong>Remojo:</strong> Los pies se sumergen en un baño de agua tibia
            con sales o productos especiales para suavizar la piel y las cutículas.
            Esto también ayuda a relajar los pies.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Cuidado de las Uñas y Cutículas
        <ul>
          <li>
            <strong>Corte y Forma:</strong>
            Se cortan y se les da forma a las uñas con un cortauñas y una lima. Se
            recomienda limar las uñas en dirección de la forma deseada y evitar limar
            en exceso.
          </li>
          <li>
            <strong>Cuidado de Cutículas:</strong> Se empujan las cutículas suavemente
            con un palito de naranjo o un empujador de cutículas. Las cutículas secas
            o duras pueden ser suavizadas con un producto específico antes de empujarlas.
          </li>
          <li>
            <strong>Eliminación de Callosidades:</strong> Si hay callos o piel dura,
            se usan piedras pómez, limas o raspadores para eliminarlos suavemente.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Aplicación del Esmalte
        <ul>
          <li>
            <strong>Base:</strong>
            Se aplica una capa base para proteger las uñas y mejorar la adhesión
            del esmalte.
          </li>
          <li>
            <strong>Esmalte de Color:</strong> Se aplican una o dos capas de esmalte
            de color, dejando secar entre capa y capa.
          </li>
          <li>
            <strong>Capa Superior:</strong> Se aplica una capa superior (top coat)
            para sellar el color y proporcionar un acabado brillante.
          </li>
        </ul>
      </li>
      <li class="process-title">
        Secado
        <ul>
          <li>
            <strong>Secado al Aire:</strong> El esmalte se seca al aire. Asegúrate
            de no tocar nada hasta que el esmalte esté completamente seco para evitar
            marcas o daños.
          </li>
        </ul>
      </li>
    </ol>
    <h2>Ventajas del Pedicure Tradicional</h2>
    <ul>
      <li>
        <strong>Estética:</strong> Mejora la apariencia de los pies y las uñas, dándoles
        un acabado pulido y profesional.
      </li>
      <li>
        <strong>Cuidado de los Pies:</strong> Incluye la eliminación de callosidades
        y la hidratación de la piel, lo que contribuye a la salud general de los
        pies.
      </li>
      <li>
        <strong>Variedad de Colores:</strong> Ofrece una amplia gama de colores y
        acabados para personalizar tu estilo.
      </li>
    </ul>
    <h2>Cuidados Posteriores del Pedicure Tradicional</h2>
    <ul>
      <li>
        <strong>Hidratación:</strong> Mantén los pies hidratados utilizando cremas
        o aceites específicos para pies. Aplica crema después del pedicure y diariamente
        para evitar la piel seca.
      </li>
      <li>
        <strong>Uso de Calzado Adecuadoe:</strong> Usa calzado que se ajuste bien
        para evitar problemas en las uñas y los pies, y que permita a tus pies respirar.
      </li>
      <li>
        <strong>Evita el Agua Excesiva:</strong> Evita mojar los pies durante períodos
        prolongados inmediatamente después del pedicure para asegurar que el esmalte
        se adhiera bien.
      </li>
    </ul>
  </Service>
</Layout>

<style>
  h2 {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li:is(.process-title) {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
  }

  li:not(.process-title) {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
  }
</style>
